<!-- <a  [routerLink]="['/SearchPo']" >Back</a> -->
<div class="card" id="print" style="display: none;">
    <div class="card-body ">
        <div class="video-container">

            <iframe height="100%" width="100%" id="iFrameName" scrolling="no" frameborder="0"></iframe>
        </div>

    </div>
</div>



<div style="
padding: 34px;

">
<h3 style="text-align: center;font-weight: bold;" >Purchase Order</h3>
    <div class="invoice p-3 mb-3 border border-dark">

        
        <div class="row ">
            <div class="col-6 " style="font-weight: bold;">
                <h2>
                    {{pocomp.companyName}}
                </h2>
            </div>
            <div class="col-6" style="padding-left: 109px;">


                <div style="text-align: center;"> <img id="imgphhoto"
                        src="http://po.nexionautomation.com/Images/logo.png" style="
                       margin-right: -182px;
    margin-bottom: -19px;
                    ">

                </div>


                <br>

            </div>

        </div>
        <br>
        <!-- <hr> -->
        <div class="row invoice-info">
            <div class="col-sm-6 invoice-col">

                <address>
                    {{pocomp.caddress1}}<br>
                    {{pocomp.caddress2 }} {{pocomp.caddress3 }}<br>
                    Phone: {{pocomp.cmobileNo }}<br>
                    Email: {{pocomp.cemailId }}
                </address>

            </div>
            <div class="col-sm-6 " style="padding-left: 109px; text-align: center;" >

              
                <!-- <strong style="font-size: 27px;" >Purchase Order</strong><br> -->
                <address>
                    <br>
                    <h3 >NAPL/FY{{predate }}-{{ Podate  }}/PO:{{pohead.id}}</h3><br>

                </address>
            </div>

            <!-- <div class="col-sm-4 invoice-col">
    <b>Invoice #007612</b><br>
    <br>
    <b>Order ID:</b> 4F3S8J<br>
    <b>Payment Due:</b> 2/22/2014<br>
    <b>Account:</b> 968-34567
    </div> -->

        </div>
        <hr>
        <div class="row invoice-info">
            <div class="col-sm-8 invoice-col">
                Supplier
                <address>
                    <strong style="
        font-size: 16px;
    ">{{posuppl.supplierName }}</strong><br>
                    {{posuppl.address1 }}<br>
                    {{posuppl.address2 }} {{posuppl.address3 }}<br>
                    Phone: {{posuppl.cmobileNo }}<br>
                    Gst: {{posuppl.gst }}<br>

                    Contact Person: {{posuppl.contactPerson }}
                </address>
            </div>







            <div class="col-sm-4 invoice-col center" style="text-align: justify;  ">
                <b>Order Date    :</b><label class="tabid" style=" margin-left: 35px;font-weight: normal; ">{{pohead.orderDate | date:"dd-MM-yyyy"  }}</label><br>
                <b>Payment Terms :</b><label class="tabid" style=" margin-left: 12px;font-weight: normal; "> {{pohead.paymentTerms}}</label><br>
                <b>indent no     :</b><label class="tabid" style=" margin-left: 50px;font-weight: normal; "> {{pohead.indentNo}}</label><br>
                <b>Freight Terms :</b><label class="tabid" style=" margin-left: 25px;font-weight: normal; ">{{pohead.freightTerms}}</label><br>
                <b>Work Order No :</b><label class="tabid" style=" margin-left: 20px;font-weight: normal; ">{{pohead.workOrderNo}}</label><br>
                <b>Gst           :</b><label class="tabid" style=" margin-left: 90px;font-weight: normal;"> {{pohead.gst}}</label><br>
                <b>Delivery      :</b><label class="tabid" style=" margin-left: 55px;font-weight: normal; ">{{pohead.deliveryDate | date:"dd-MM-yyyy"}}</label><br>
            </div>

            <!-- <div class="col-sm-4 invoice-col">
        <b>Invoice #007612</b><br>
        <br>
        <b>Order ID:</b> 4F3S8J<br>
        <b>Payment Due:</b> 2/22/2014<br>
        <b>Account:</b> 968-34567
        </div> -->

        </div>
        <hr>
        <div class="row invoice-info">
            <div class="col-sm-8 invoice-col ">
                Ship To
                <address>
                    <strong style="
            font-size: 16px;
        "> {{pocomp.companyName}}</strong><br>
                    {{pocomp.saddress1}}<br>
                    {{pocomp.saddress2}} {{pocomp.saddress3}}<br>
                    Phone: {{pocomp.smobileNo}}<br>
                    Attn: {{pocomp.sattendentName}}
                </address>
            </div>



            <div class="col-sm-4 invoice-col" style="text-align: justify;">
                Invoice To
                <address>
                    <strong style="
            font-size: 16px;
        "> {{pocomp.iname}}</strong><br>
                    {{pocomp.iaddress1}}<br>
                    {{pocomp.iaddress2}} {{pocomp.iaddress3}}<br>
                    Phone: {{pocomp.imobileNo}}<br>
                    Gst No: {{pocomp.igst}}<br>
                    Pan No: {{pocomp.ipanNo}}<br>
                </address>
            </div>



            <!-- <div class="col-sm-4 invoice-col">
            <b>Invoice #007612</b><br>
            <br>
            <b>Order ID:</b> 4F3S8J<br>
            <b>Payment Due:</b> 2/22/2014<br>
            <b>Account:</b> 968-34567
            </div> -->

        </div>



        <div class="row">
            <div class="col-12 table-responsive table-breaked ">
                <!-- <table class="table table-striped"> style="font-size: 13px;!--->
                <table class="table table-striped  " style="border:solid,1px ;padding: inherit;    padding: -0.25rem;">
                    <thead style="font-size: 9px;">
                        <tr >
                            <th >SR.</th>
                            <th>DESCRIPTION OF GOODS / PART NO.</th>
                            <th>CAT NO.</th>
                            <th>UOM</th>
                            <th>MAKE</th>
                            <th>QTY</th>
                            <th>LIST PRICE</th>
                            <th>DIS %</th>
                            <th>UNIT PRICE </th>
                            <th>NET PRICE </th>
                        </tr>
                    <tbody>


                        <tr *ngFor="let item of persons;let a=index ">
                            
                            <td>{{a+1}}</td>
                            <td style="text-align: justify;">{{item.description |  replaceSubstring: " ":"" }}</td>
                            <td>{{item.catname |  replaceSubstring: " ":"" }}</td>
                            <td>{{item.uom}}</td>
                            <td>{{item.make}}</td>
                            <td>{{item.qty}}</td>
                            <td>{{item.listPrice }}</td>
                            <td>{{item.dis}}</td>
                            <td>{{item.unitPrice}}</td>
                            <td>{{item.netPrice }}</td>
                        </tr>



                    </tbody>
                   
                </table>
            </div>

        </div>

        <div class="row">

            <div class="col-8">


                <div *ngIf="pohead.deliveryMode" style="font-size: 13px;">
                    <p class="lead">Delivery Mode:{{pohead.deliveryMode}}</p>

                </div>
                <div *ngIf="pohead.enduser" style="font-size: 13px;">
                    <p class="lead">End Customer: {{pohead.enduser}}</p>

                </div>


                <div *ngIf="pohead.remarks" style="font-size: 13px;">
                    <p class="lead">Purchase comments: {{pohead.remarks}}</p>


                </div>


                <!-- <div > style="border: solid,1px; display: none; " -->
                    <div style="display: none;">
                    <p class="lead" >Note:</p>

                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                        If Suppliers Commits Any Mistake Regarding Vehicle Number, Invoice Number, Date, Amount, Expire
                        Date of E-way Bill (E-way Bill Must Be Valid for Entire Transporting Days). 

                        In Case of Vehicle Inspection by Competent Govt. Authority and Found Any Discrepancy in Document
                        in That Case Supplier is Liable to Pay All the Penalties.

                        Buyer is Not Responsible to Pay Any Type of Penalty.
                    </p>



                </div>
            </div>

            <div class="col-4" style="border-color:#2125296e;" >

                <div class="table-responsive  ">
                    <input type="text" class="form-control font-weight-bold " style="text-align: center; " value="Total :- {{Totalinnumber}}" readonly/> 
                    <p class="text-capitalize text-center font-weight-bold " >{{Total}} Only  </p>
                 </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <b class="">Prepared By: </b>
                <br>&nbsp;({{Usercode}})

            </div>

            <div class="col-md-4">
                <!-- <b class="" style="float: right;">Authorised Signatory :  </b> -->

            </div>
            <div class="col-md-4">
                <b class="" style="float: right;">Authorised Signatory :  </b>
                <br>&nbsp;
            </div>

        </div>
        <div class="col-md-12" style="text-align:center;">***** This Is A Software Generated   Po And Does Not Require Formal
Signature And Stamps. *****</div>


<div style="break-after:page"></div>

&nbsp;



<div class="border "  style="padding: 10px;text-align: justify;font-size: 12.9px;"   >
    <br>
    

<h4 style="text-align: center;"  class="text-muted well well-sm shadow-none" >***TERMS AND CONDITIONS***</h4>
<hr>

<ul >
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
The order acceptance should be immediately sent after the receipt of the order by fax,email,and by post failure to that can lead to order cancellation.
</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    No variation in any of the terms & conditions relating to deliveries,prices,quality,quantity and specification of this order,irrespective of the wording of
sellers acceptance will be effective without company written consent</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    If on inspection,the factory find that the materials supplied are not of the contracted quality or not according to the Specification required by the
    company or received in damaged or broken or defective condition or otherwise in entitled to reject the materials,cancel the contract and buy its
    requirements in the OPEN MARKET and recover the loss specification, if any from the supplier</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    Rejected goods will be lying at our godown/premises at supplier risk and should be removed by them at their own cost immediately on receipt of
    advice from the godown to this effect.The company shall be entitled to recover from the suppliers the full amount
    of carriage freight and other charges if any incurred in respect of rejected goods.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    If the suppliers fail to execute,orders or any part thereof as stipulated in the order either by non-delivery ,part delivery, delayed delivery or defective
supplies,The company shall be liberty to purchase such goods from the market at suppliers risk , delayed and cost,without giving any notice to suppliers
and suppliers shall reimburse to the company, in respect of any loss or damage arising from such failure.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    The company reserves the right to cancel or amend the order or any part thereof without assigning reasons & without any liability for such cancellation
and/or amendment.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    The company will not allow any revision in the prices during the tenure of contract.
</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    In case detention of vehicle by any tax authorities on account of any defect in the documents accompanying the consignment or for any reasons
whatsoever will have to be sorted out by the vendor at their cost .In case we have to incur any expenses for
release of such consignment by way of penalty or otherwise the same will have to be reimburses by the vendor.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    The valid transporters copy of valid GST invoice should accompany the consignment.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    Issue of declaration in form-C,in case of sale in transit will be subject to verification of transfer of property in goods While in transit.All necessary
    documents in proof of such transaction will have to be produced including copy of the E-1 form obtained from the supplier if called for.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    Your relative bill addressed to our works should contain the following details.
    (1) GST No.
    (2) HSN Code 
    (3) Full address of the range,Division,commissionerate rate of
    (4) Duplicate copy of transporter invoice.(must be sent along with carrier only)</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    Any issue arising out of this contract will be subject to the court of competent jurisdiction in Delhi only</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    In respect of service orders the deduction of tax will be done at source. We reserve our right to cancel the order and/or to get the work done through
    other agencies in case of in-ordinate delay in carrying out the work undercontract and for rectification of the defects in the job carried out under
    contract and to recover costs and/or damages for such delay/defects from the vendor.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    In case of incorrect deliveries, any additional transport cost involved will be at the vendors account.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    In case you fail to execute this order as delivery schedule mentioned above, you shall be liable to pay us Liquidated Damages for Delay in Delivery @
0.5% per week or part thereof subject to a maximum of 5 % of the total order value excluding taxes and
duties.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    Inspection charges scope- mutually agree by buyer and supplier at the time of negotiation</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    Transit Insurance shall be in the scope of the buyer. Supplier will intimate the total order value to buyer before dispatch the material.</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    Transporter should be bank approved having following facilities:Vechile fitness certificate, registeration,certificate,pollution certificate, Driving License of
Driver, Fire extinguisher, First aid box.
</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    FORCE MAJEURE: The execution of the order shall be subject to force majeure conditions.These conditions shall inter alias include: War, hostilities,
revolution, civil commotion, riots,strikes,natural calamities,act of god,epidemic,flood ,wind, cyclones
,act of terrorism.Any Law and order,proclamation,regulation,ordinance of any Government or any Authority appointed by the Govt.In the events
mentioned above,the affected party will be required to intimate immediately in writing to the other party detailing the full facts of the case and advise
schedule of execution of the contract</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    ARBITRATION:Any disputes or differences arising out of the order shall be refered to the panel of 3 arbitrators as per provision of Arbitration and
Conciliation Act, 1996. One arbitrator each to be appointed by the parties to dispute and third arbitrator to be
appointed by the already appointed two arbitrators. The proceedings to be concluded with a final and binding award within 90 days of commencement
of proceedings. The place of arbitration shall be Delhi only and language of arbitration shall be English. Both the parties to bear their respective
costs or as decided by the arbitration proceedings</li>
<li class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    APPLICATION OF TERMS-The terms & conditions as stipulated in this purchase order are as per agreement between you & us and no other terms and
conditions shall be applicable.You are requested to kindly sign and send a duplicate copy of the order as a token of your acceptance for the same.</li>
</ul>

</div>
    </div>
</div>