

body, div, table, thead, tbody, tfoot, tr, th, td, p {
    font-family: "Calibri";
    // font-size: x-small;

    font-size: 12px;
  
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }