
<!-- <a  [routerLink]="['/SearchPo']" >Back</a> -->
<!-- <div class="card" id="print">
    <div class="card-body " >
        <div  class="video-container">
   
            <iframe height="100%" width="100%" id="iFrameName" scrolling="no"  frameborder="0" allowfullscreen></iframe> 
        </div>
        
    </div>
  </div> -->
<div style="
padding: 34px;

" >
  <div class="invoice p-3 mb-3 border border-dark">

    <div class="row ">
    <div class="col-6">
    <h2 >
        {{pocomp.companyName}}
        <!-- {{myHero}} -->
        
     <!-- Nexion Automation Pvt Ltd -->
       
    
    </h2>
    </div>
    <div class="col-6" style="
  
    padding-left: 109px;
">
        
        
        <div style="text-align: center;"  >  <img id="imgphhoto" src="http://po.nexionautomation.com/Images/logo.png">
        
        </div>
            
        
        <br>
     
        </div>
        
    </div>
   <hr>
    <div class="row invoice-info">
    <div class="col-sm-6 invoice-col">
    
    <address  >
    {{pocomp.caddress1}}<br>
    {{pocomp.caddress2 }}  {{pocomp.caddress3 }}<br>
    Phone:  {{pocomp.cmobileNo }}<br>
    Email: {{pocomp.cemailId }}
    </address>
   
</div>
    <div class="col-md-6 invoice-col" style="text-align: center;" >
        <strong style="font-size: 27px;">Purchase Order</strong><br>
    <address >
        <strong style="font-size: 17px;">NAPL/FY20-21/PO:673</strong><br>
    
    </address>
    </div>
    
    <!-- <div class="col-sm-4 invoice-col">
    <b>Invoice #007612</b><br>
    <br>
    <b>Order ID:</b> 4F3S8J<br>
    <b>Payment Due:</b> 2/22/2014<br>
    <b>Account:</b> 968-34567
    </div> -->
    
    </div>
   <hr>
    <div class="row invoice-info">
        <div class="col-sm-8 invoice-col">
        Supplier
        <address>
        <strong style="
        font-size: 13px;
    ">{{posuppl.supplierName }}</strong><br>
        {{posuppl.address1 }}<br>
        {{posuppl.address2 }} {{posuppl.address3 }}<br>
        Phone: {{posuppl.cmobileNo }}<br>
        Gst: {{posuppl.gst }}<br>
       
        Contact Person: {{posuppl.contactPerson }}
        </address>
        </div>
        

       




        <div class="col-sm-4 invoice-col center" style="text-align: justify;  " >
            <b>Order Date 2019-10-10</b><br>
            
            <b>Payment Terms:</b> 45 days credit<br>
            <b>indent no :</b> #124<br>
            <b>Freight Terms:</b>Exclusive<br>
            <b>Work Order  No:</b>#1234<br>
            <b>Gst:</b> As Applicable<br>
            <b>Delivery:</b>2019-10-10<br>
        </div>
        
        <!-- <div class="col-sm-4 invoice-col">
        <b>Invoice #007612</b><br>
        <br>
        <b>Order ID:</b> 4F3S8J<br>
        <b>Payment Due:</b> 2/22/2014<br>
        <b>Account:</b> 968-34567
        </div> -->
        
        </div>
        <hr>
        <div class="row invoice-info">
            <div class="col-sm-8 invoice-col " >
            Ship To
            <address>
            <strong style="
            font-size: 13px;
        "> {{pocomp.companyName}}</strong><br>
            {{pocomp.saddress1}}<br>
            {{pocomp.companyName}} {{pocomp.saddress3}}<br>
            Phone: {{pocomp.smobileNo}}<br>
            Attn: {{pocomp.sattendentName}}
            </address>
            </div>
           


            <div class="col-sm-4 invoice-col" style="text-align: justify;" >
            Invoice To
            <address>
            <strong style="
            font-size: 13px;
        "> {{pocomp.iname}}</strong><br>
           {{pocomp.iaddress1}}<br>
           {{pocomp.iaddress2}} {{pocomp.iaddress3}}<br>
            Phone: {{pocomp.imobileNo}}<br>
            Gst No: {{pocomp.igst}}<br>
            Pan No: {{pocomp.ipanNo}}<br>
            </address>
            </div>
            

           
            <!-- <div class="col-sm-4 invoice-col">
            <b>Invoice #007612</b><br>
            <br>
            <b>Order ID:</b> 4F3S8J<br>
            <b>Payment Due:</b> 2/22/2014<br>
            <b>Account:</b> 968-34567
            </div> -->
            
            </div>
            
            
    
    <div class="row">
    <div class="col-12 table-responsive ">
    <!-- <table class="table table-striped"> !--->
        <table class="table table-striped table-bordered " style="border:solid,1px ;">
    <thead> 
    <tr>
        <th>SR.</th>
    <th>DESCRIPTION OF GOODS / PART NO.</th>
    <th>CAT NO.</th>
    <th>UOM</th>
    <th>MAKE</th>
    <th>QTY</th>
    <th>LIST PRICE</th>
    <th>DIS %</th>
    <th>UNIT PRICE </th>
    <th>NET PRICE </th>
    </tr>
    <tbody>
        
        
    <tr *ngFor="let item of persons;let a=index ">
    <td>{{a+1}}</td>
    <td>{{item.description}}</td>
    <td>{{item.catname}}</td>
    <td>{{item.uom}}</td>
    <td></td>
    <td>{{item.qty}}</td>
    <td>{{item.listPrice}}</td>
    <td>{{item.dis}}</td>
    <td>{{item.unitPrice}}</td>
    <td>{{item.netPrice}}</td>
    </tr>
    

    
    </tbody>
    </table>
    </div>
    
    </div>
    
    <div class="row">
    
    <div class="col-9">


        <div>
            <p class="lead">Delivery Mode: Testing</p>
            
        </div>


<div>
    <p class="lead">Purchase comments: testing</p>
    
    
</div>


      <div style="border: solid,1px;"> 
    <p class="lead">Note:</p>
    
     <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
        If Suppliers Commits Any Mistake Regarding Vehicle Number ,Invoice Number, Date, Amount , Expire Date of E-way Bill ( E-way Bill Must Be  Valid for Entire Transporting Days) . 

        In Case of Vehicle Inspection by Competent Govt. Authority and Found Any Discrepancy in Document in That Case Supplier is Liable to Pay All the Penalties.
        
        Buyer is  Not Responsible to Pay Any Type of Penalty.
    </p>


    
</div> 
    </div>
    
    <div class="col-3">
   
    <div class="table-responsive  ">
        <h5 class="text-capitalize" style="text-align: center">Total :- 55555</h5>
        <p class="text-capitalize">{{Total}} </p>
    <!-- <table class="table">
    <tbody><tr>
    <!-- <th col="2"><b class="center">Total:</b></th>
     -->
    <!-- <td >
        <h5 class="text-capitalize" style="text-align: center">Total:- 55555</h5>
        <p class="text-capitalize">{{Total}} </p>
     
    </td>
    
    
    </tr>
    </tbody></table> --> 
    




     

      
    </div>
   
    </div>
    
    </div>

    <div class="row">
    <div class="col-md-4">
        <b class="">Prepared By:  </b>
    
      </div>

  <div class="col-md-4">
    <!-- <b class="" style="float: right;">Authorised Signatory :  </b> -->

  </div>
  <div class="col-md-4">
    <b class="" style="float: right;">Authorised Signatory :  </b>

  </div>

</div>
    

    <div class="col-md-12" style="text-align:center;">****** This Is A Software Po And Does Not Require Formal Signature And Stams. *****</div>
  
    </div>
</div>
  