<p>expense-manager works!</p>
<section class="col-lg-12">


    <div id="UpdateProgress1" style="display:none;" role="status" aria-hidden="true">

        <div class="divWaiting" style="z-index: 15000;">
            <img id="imgWait" src="images/loading3.gif" align="middle" style="height:150px;width:210px;">
        </div>

    </div>






    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="UpdatePanel1">


        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">


                <!--Start Form Heading -->
                <div class="card-header with-border">
                    <h3 class="card-title"><strong>Out Station Expense</strong></h3>
                </div>
                <!--Start Form Heading -->

                <!--Start Form Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bder top-mrg20">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label pull-left">Customer
                                                        Name</label>
                                                    <input formControlName="txttitle" type="text" id="txttitle"
                                                        class="form-control inputtext" autocomplete="off" readonly>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label pull-left">Work
                                                        Order</label>&nbsp;<span id="lblloginIdError"
                                                        class="col-sm-3"></span>
                                                    <input formControlName="txtworkorderno" type="text"
                                                        id="txtworkorderno" class="form-control inputtext"
                                                        autocomplete="off" readonly>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label pull-left">Site
                                                        Location</label>&nbsp;
                                                    <input formControlName="txtlocation" type="text" id="txtlocation"
                                                        class="form-control inputtext" autocomplete="off" readonly>
                                                </div>

                                            </div>

                                            <div class="clearfix" style="margin-bottom: 5px;"></div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label">From Date</label>
                                                    <input formControlName="txtfromdate" type="date" id="txtfromdate"
                                                        class="form-control inputtext" autocomplete="off" readonly>

                                                    <span id="RegularExpressionValidator1"
                                                        style="color:Red;visibility:hidden;" >From Date should be
                                                        dd-mmm-yyyy</span>

                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label">To Date</label>
                                                    <input formControlName="txttodate" type="date" id="txttodate"
                                                        class="form-control inputtext" autocomplete="off" readonly>

                                                    <span id="RegularExpressionValidator2"
                                                        style="color:Red;visibility:hidden;">From Date should be
                                                        dd-mmm-yyyy</span>

                                                </div>

                                            </div>

                                            <div class="clearfix" style="margin-bottom: 5px;">
                                                <span id="RequiredFieldValidator4" class="errorlabels"
                                                    style="font-size:8pt;display:none;" >Enter Work
                                                    Order No</span>

                                                <span id="RequiredFieldValidator5" class="errorlabels"
                                                    style="font-size:8pt;display:none;">Enter
                                                    Location</span>

                                                <span id="RequiredFieldValidator2" class="errorlabels"
                                                    style="font-size:8pt;display:none;">Enter From
                                                    Date</span>

                                                <span id="RequiredFieldValidator7" class="errorlabels"
                                                    style="font-size:8pt;display:none;">Enter To
                                                    Date</span>



                                            </div>




                                        </div>
                                    </div>
                                </div>





                            </div>



                        </div>
                    </div>
                </div>
                <!--End Form Body -->

            </div>

            <div class="card card-group">
                <div class="card-header with-border">
                    <h3 class="card-title"><strong>Add Expense Items</strong></h3>
                </div>
                <!--Start Form Heading -->

                <!--Start Form Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bder top-mrg20">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <div id="div_manual" class="row">
                                                <div class="col-sm-2">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">Date</label>&nbsp;
                                                    <input formControlName="txtdate" type="date" id="txtdate"
                                                        class="form-control inputtext" autocomplete="off" readonly>

                                                    <span id="RegularExpressionValidator3"
                                                        style="color:Red;visibility:hidden;">From Date should be
                                                        dd-mmm-yyyy</span>

                                                </div>

                                                <div class="col-sm-3">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">Description</label>&nbsp;
                                                    <input formControlName="txtdescription" type="text"
                                                        id="txtdescription" class="form-control inputtext"
                                                        autocomplete="off" readonly>

                                                </div>
                                                <div class="col-sm-1">
                                                    <label for="inputEmail3" class="control-label pull-left">Paid
                                                        By</label>&nbsp;
                                                    <select formControlName="ddlPaidby" 
                                                       readonly
                                                        id="ddlPaidby" class="form-control" readonly>
                                                        <option selected="selected" value="NAPL">NAPL</option>
                                                        <option value="Customer">Customer</option>

                                                    </select>
                                                </div>

                                                <div class="col-sm-2">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">Type</label>&nbsp;
                                                    <select formControlName="ddlExpenseType"
                                                    readonly
                                                        id="ddlExpenseType" class="form-control">
                                                        <option selected="selected" value="0">---Select Type---</option>
                                                        <option value="1">Breakfast</option>
                                                        <option value="4">Local Transport</option>
                                                        <option value="7">Daily Allowance</option>
                                                        <option value="8">Grocery</option>
                                                        <option value="9">Refreshment</option>
                                                        <option value="10">Miscellaneous</option>
                                                        <option value="11">Lunch</option>
                                                        <option value="12">Taxi/Cab</option>
                                                        <option value="13">Auto/E-rikshaw</option>
                                                        <option value="14">Bus</option>
                                                        <option value="15">Train</option>
                                                        <option value="16">Metro Train</option>
                                                        <option value="17">Airfare</option>
                                                        <option value="18">Bike</option>
                                                        <option value="19">Car</option>
                                                        <option value="20">Hotel</option>
                                                        <option value="21">Guest house</option>
                                                        <option value="22">Self Accommodation</option>
                                                        <option value="23">Dinner</option>
                                                        <option value="0">--Select All--</option>

                                                    </select>
                                                    <span id="lblrate" style="color:Red;"></span>
                                                </div>


                                                <div class="col-sm-1">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">Km</label>&nbsp;
                                                    <input formControlName="txtDistance" type="text"
                                                    readonly
                                                        onkeypress="if (WebForm_TextcardKeyHandler(event) == false) return false;"
                                                        id="txtDistance" class="form-control inputtext">

                                                </div>
                                                <div class="col-sm-1">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">Amount</label>&nbsp;
                                                    <input formControlName="txtamount" type="text" id="txtamount"
                                                        class="form-control inputtext" readonly>

                                                </div>

                                                <div class="col-sm-1">
                                                    <label for="inputEmail3"
                                                        class="control-label ">Park/Toll</label>&nbsp;
                                                    <input formControlName="txtParkingAmt" type="text"
                                                        id="txtParkingAmt" class="form-control inputtext" readonly>

                                                </div>

                                                <div class="col-sm-1">
                                                    <div class="clearfix" style="margin-top: 30px;"></div>
                                                    <label for="inputEmail3" class="control-label pull-left"></label>
                                                    &nbsp;
                                                    <!-- <button type="button"  
                                                        id="btn_add" class="btn btn-primary" (click)="Add_items()">ADD</button> -->
                                                </div>

                                            </div>
                                            <div class="row">
                                                <span id="RequiredFieldValidator1" class="errorlabels"
                                                    style="display:none;">Enter Date</span>

                                                <span id="RequiredFieldValidator6" class="
                            " style="font-size:8pt;display:none;">Select Expense Type</span>

                                                <span id="RequiredFieldValidator3" class="errorlabels"
                                                    style="font-size:8pt;display:none;">Enter
                                                    Amount</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" style="margin-top: 15px;"></div>
            <div class="card card-default">
                <div class="card-header with-border">
                    <h3 class="card-title"><strong>Expense Details</strong></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bder top-mrg20">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <div class="table_wid">

                                                <div>
                                                    <table cellspacing="0" rules="all" border="1" id="example"
                                                        class="table table-responsive">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="col">&nbsp;</th>
                                                                <th scope="col">SrNo</th>
                                                                <th scope="col">Date</th>
                                                                <th scope="col">Description</th>
                                                                <th scope="col">Type ID</th>
                                                                <th scope="col">Type Name</th>
                                                                <th scope="col">Distance</th>
                                                                <th scope="col">Amt (A)</th>
                                                                <th scope="col">Park/Toll (B)</th>
                                                                <th scope="col">Total(A + B) </th>
                                                                <th scope="col">Approved Amount</th>
                                                                <th scope="col">Paid By</th>
                                                            </tr>
                                                            <tr *ngFor="let  value  of arr;let a=index">
                                                                <td>
                                                                    <input type="button"
                                                                         value="Delete" id="GridView1_btnDelete_Row_0"
                                                                        class="btn btn-sm btn-danger" (click)="onDel">
                                                                    <a id="GridView1_btn_edit_0"
                                                                        class="btn btn-sm btn-dange fa fa-eye"
                                                                       ></a>




                                                                </td>
                                                                <td style="width:100px;">
                                                                    <span id="GridView1_lblRowNumber_0">{{a}}</span>
                                                                </td>
                                                                <td>{{value.Date}}</td>
                                                                <td>{{value.description}}</td>
                                                                <td>{{value.expenseTypeId}}</td>
                                                                <td>{{value.expenseTypeId}}</td>
                                                                <td>{{value.expenseTypeId}}</td>
                                                                <td>{{value.expenseTypeId}}</td>
                                                                <td>{{value.expenseTypeId}}</td>
                                                                <td>{{value.expenseTypeId}}</td>
                                                                <td>{{value.expenseTypeId}}</td>
                                                                <td>{{value.expenseItemsId}}</td>
                                                                </tr>


                                                                
         
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="card card-group">
                <div class="card-header with-border">
                    <h3 class="card-title"><strong>Add Attachment Items</strong></h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bder top-mrg20">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <input formControlName="txtdescription1" type="text"
                                            class="form-control inputtext" >


                                    </div>
                                    <div class="col-sm-4">
                                        <input type="file" formControlName="FileUpload1" id="FileUpload1">
                                        <button type="submit" formControlName="btnUpload" class="btn btn-primary" value="" id="btnUpload">Upload</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card card-default">
                <div class="card-header with-border">
                    <h3 class="card-title"><strong>View Attachment </strong></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bder top-mrg20">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <div class="table_wid">

                                                <div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div id="dialog" style="display: none">
            </div>

            <div class="card card-default">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bder top-mrg20">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <label for="inputEmail3" class="control-label pull-left">Status</label>&nbsp;
                                        <select formControlName="ddlstatus" id="ddlstatus" class="form-control">
                                            <option value="1">Draft</option>
                                            <option value="2">Submit</option>
                                            <option value="6">Delete</option>

                                        </select>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="inputEmail3" class="control-label pull-left">Comments</label>&nbsp;
                                        <textarea formControlName="txtcomments" rows="2" cols="20" id="txtcomments"
                                            class="form-control "></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card card-primary">

                                <div class="card-header with-border">
                                    <h3 class="card-title"><strong>Comments</strong></h3>
                                </div>

                                <div class="card-body">
                                    <section class="comments">

                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divfooter" class="card card-footer">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">

                            <span id="lblError"></span>






                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-12">

                            <div class="col-sm-7 col-sm-offset-5">
                                <input type="submit" formControlName="btnSave" value="Save" id="btnSave"
                                    class="btn btn-primary mar_top10">



                                &nbsp;<input type="submit" formControlName="btnClear" value="Reset" id="btnClear"
                                    class="btn btn-warning mar_top10">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>





        






    </form>







</section>