<section class="content container-fluid">
    <!-- Small cardes (Stat card) -->

    <!-- /.row -->
    <!-- Main row -->
    <br>

   
    <div class="row">
        <!-- Left col -->



      

        <section class="col-lg-6">


            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">Title</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip"
                            title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body ">



                    <div class="card-body">
                        
                            <form>
                                <div class="row">
                                <div class="col-sm-5">
                                
                                <div class="form-group">
                                <label>From</label>
                                <input type="date" class="form-control" placeholder="Enter ...">
                                </div>
                                </div>
                                <div class="col-sm-5">
                                <div class="form-group">
                                <label>To</label>
                                <input type="date" class="form-control" placeholder="Enter ..." >
                                </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group ">
                                  <br>
                                    <input type="button" class=" btn btn-info form-control"  value="Search" >
                                    </div>
                                    </div>
                                </div>
                              
                              
                              
                              
                               
                               
                            
                                </form>


               



                    </div>

                </div>








            </div>


        </section>
        
        <section class="col-lg-6"></section>

        
        <section class="col-lg-6">


            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">PURCHASE ORDER</h3>

                    <div class="card-tools">
                        <input type="date" id="birthday" class="form-control" name="birthday">
                    </div>
                </div>

                <div class="card-body ">

                    <div class="po-field text-center"><h3 class="db-po-label font-weight-light mt-0 bold " style="font-weight: bold">Total Purchase Order</h3> <h1 class="top-quantity over-flow text-blue">₹ {{ TotalAmount}} </h1></div>
                    <hr>
                    <div class="po-field text-center "><h3 class="db-po-label font-weight-light mt-0 " style="font-weight: bold">Total Order Value</h3> <h1 class="top-quantity over-flow text-blue "> ₹ {{Qty}}</h1></div>
                    <hr>
                    <div class="po-field text-center "><h3 class="db-po-label font-weight-light mt-0 " style="font-weight: bold">Total Item Of Quantity</h3> <h1 class="top-quantity over-flow text-blue "> ₹ 101,811.084 </h1></div>

           

                </div>








            </div>


        </section>

        <section class="col-lg-6">


            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">USER PO</h3>

                    <div class="card-tools">
                        <input type="date" id="birthday" class="form-control" name="birthday">
                    </div>
                </div>

                <div class="card-body ">

                    <div class="po-field text-center"><h3 class="db-po-label font-weight-light mt-0 bold " style="font-weight: bold">Total Purchase Order</h3> <h1 class="top-quantity over-flow text-blue">₹ 625.000 </h1></div>
                    <hr>
                    <div class="po-field text-center "><h3 class="db-po-label font-weight-light mt-0 " style="font-weight: bold">Total Order Value</h3> <h1 class="top-quantity over-flow text-blue "> ₹ 101,811.084 </h1></div>
                    <hr>
                    <div class="po-field text-center "><h3 class="db-po-label font-weight-light mt-0 " style="font-weight: bold">Total Item Of Quantity</h3> <h1 class="top-quantity over-flow text-blue "> ₹ 101,811.084 </h1></div>

           

                </div>








            </div>


        </section>

        <section class="col-lg-6">


            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">Title</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip"
                            title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body ">



                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Minimal</label>
                                    <select class="form-control select2 select2-hidden-accessible" class="form-control">
                                        <option selected="selected" data-select2-id="3">Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>



                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Multiple</label>
                                    <select class="select2 select2-hidden-accessible" class="form-control">
                                        <option>Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>

                                </div>



                            </div>

                        </div>



                    </div>

                </div>








            </div>


        </section>





        <section class="col-lg-12" style="display: none;">
            <div class="form2">

                <div class="card card-outline card-primary">
                    <div class="card-header "> PO Details ::</div>
                    <div class="card-body " style="overflow-x:auto;">
        
        
        
                        <!-- <table id="example" class="display" width="100%"></table> -->
        
                        <table id="example"  class="table table-striped ">
        
                            <thead>
                                <tr>
                                    <th  >Action</th>
                                    <th >Rid</th>
                                    <th >PO Number</th>
                                    <th >Company Name</th>
                                    <th>Supplier Name</th>
                                    <th >Order Date</th>
                                    <th >Payment Terms</th>
                                    <th >Indent No</th>
                                    <th >Freight Terms</th>
                                    <th >Work Order No</th>
                                    <th >Gst No</th>
                                    <th >Delivery Date</th>
                                    <th >Remarks</th>
                                    <th >Total</th>
                                    <th >Enduser</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let person of deleverydate;let a=index">
                                    <td><button class="badge bg-success  btn btn-sm  " name='{{ person.poId}}'> <a
                                                class="fa fa-edit" (click)="onedit(person.poId) " [routerLink]="['/CreatePo', person.poId]"></a></button>
                                        <br>
                                        <button class="badge bg-danger  btn btn-sm" name='{{ person.poId}}'
                                            (click)="onDel(person.poId)"  ><a class="fa fa-trash"></a></button>
                                            <br>
                                            <button class="badge bg-info  btn btn-sm"  name='{{ person.poId}}'
                                            ><a class="fa fa-file" target="_self" [routerLink]="['/viewPo',person.poId]" ></a></button>
                                    
                                    </td>
        
        
                                    <td > {{person.poId}}</td>
                                    <td > {{person.id}}</td>
                                    <td>{{ person.companyName }}</td>
                                    <td> {{person.supplierName}}</td>
                                    <td>{{ person.orderDate | date:"yyyy-MM-dd" }}</td>
                                    <td>{{ person.paymentTerms }}</td>
                                    <td> {{person.indentNo}}</td>
                                    <td>{{ person.freightTerms }}</td>
                                    <td> {{person.workOrderNo }}</td>
                                    <td>{{ person.gst  }}</td>
                                    <td>{{ person.deliveryDate | date:"yyyy-MM-dd" }}</td>
                                    <td> {{person.remarks }}</td>
                                    <td>{{ person.total  }}</td>
                                    <td>{{ person.enduser  }}</td>
                                   
        
        
        
                                </tr>
                            </tbody>
                        </table>
        
        
                    </div>
                </div>
        
            </div>
        </section>


        <div class="card card-widget widget-user shadow" style="display:none;">

            <div class="widget-user-header bg-info">
            <h3 class="widget-user-username">Alexander Pierce</h3>
            <h5 class="widget-user-desc">Founder &amp; CEO</h5>
            </div>
            <div class="widget-user-image">
            <img class="img-circle elevation-2" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
            </div>
            <div class="card-footer">
            <div class="row">
            <div class="col-sm-4 border-right">
            <div class="description-block">
            <h5 class="description-header">3,200</h5>
            <span class="description-text">SALES</span>
            </div>
            
            </div>
            
            <div class="col-sm-4 border-right">
            <div class="description-block">
            <h5 class="description-header">13,000</h5>
            <span class="description-text">FOLLOWERS</span>
            </div>
            
            </div>
            
            <div class="col-sm-4">
            <div class="description-block">
            <h5 class="description-header">35</h5>
            <span class="description-text">PRODUCTS</span>
            </div>
            
            </div>
            
            </div>
            
            </div>
            </div>
        
      

    

        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->

        <!-- right col -->
    </div>
    <!-- /.row (main row) -->


</section>

