<section class="content">
    <!-- Small cardes (Stat card) -->

    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->

        <section class="col-lg-12">


            <div id="UpdateProgress1" style="display:none;" role="status" aria-hidden="true">

                <div class="divWaiting" style="z-index: 15000;">
                    <img id="imgWait" src="images/loading3.gif" align="middle" style="height:150px;width:210px;">
                </div>

            </div>






            <div id="ContentPlaceHolder3_UpdatePanel1">


                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">


                        <!--Start Form Heading -->
                        <div class="card-header with-border">
                            <h3 class="card-title"><strong>Company Master</strong></h3>
                        </div>
                        <!--Start Form Heading -->

                        <!--Start Form Body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bder top-mrg20">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-horizontal">

                                                    
                                                    <div class="card-header card-primary" >Company Details
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Company Name</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtcompanyname"
                                                                type="text"
                                                                onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder3$txtcompanyname\',\'\')', 0)"
                                                                onkeypress="if (WebForm_TextcardKeyHandler(event) == false) return false;"
                                                                id="txtcompanyname" class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Address
                                                                1</label>&nbsp;<span
                                                                id="ContentPlaceHolder3_lblloginIdError"
                                                                class="col-sm-3"></span>
                                                            <input name="ctl00$ContentPlaceHolder3$txtCaddress1"
                                                                type="text" id="txtCaddress1"
                                                                class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3" class="control-label">Address
                                                                2</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtCaddress2"
                                                                type="text" id="txtCaddress2"
                                                                class="form-control inputtext">
                                                        </div>
                                                    </div>

                                                    <div class="clearfix" style="margin-bottom: 5px;"></div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Address
                                                                3</label>&nbsp;<span id="ContentPlaceHolder3_Label1"
                                                                class="col-sm-3"></span>
                                                            <input name="ctl00$ContentPlaceHolder3$txtCaddress3"
                                                                type="text" id="txtCaddress3"
                                                                class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Email ID</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtEmailID"
                                                                type="text" id="txtEmailID"
                                                                class="form-control inputtext">
                                                            <span id="ContentPlaceHolder3_RegularExpressionValidator2"
                                                                class="requiredFieldValidateStyle"
                                                                style="color:Red;visibility:hidden;">Please Enter Valid
                                                                Email ID</span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Mobile NO</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtMobileNo"
                                                                type="text" maxlength="10" id="txtMobileNo"
                                                                class="form-control inputtext">

                                                        </div>

                                                    </div>

                                                    <div class="clearfix" style="margin-bottom: 5px;"></div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Website</label>&nbsp;<span
                                                                id="ContentPlaceHolder3_Label2" class="col-sm-3"></span>
                                                            <input name="ctl00$ContentPlaceHolder3$txtwebsite"
                                                                type="text" id="txtwebsite"
                                                                class="form-control inputtext">
                                                        </div>

                                                        <div class="col-sm-4">

                                                            <label for="txtPhotoIdentification">
                                                                Photo<span id="ContentPlaceHolder3_Label34"
                                                                    style="color:Red;font-weight:bold;">
                                                                    *</span></label>

                                                            <input type="file"
                                                                name="ctl00$ContentPlaceHolder3$fuOperatorImage"
                                                                id="ContentPlaceHolder3_fuOperatorImage">
                                                            <input type="submit"
                                                                name="ctl00$ContentPlaceHolder3$btnUpload"
                                                                value="Upload" id="ContentPlaceHolder3_btnUpload">

                                                            &nbsp;<input type="submit"
                                                                name="ctl00$ContentPlaceHolder3$btnDeleteUpload"
                                                                value="Remove" id="ContentPlaceHolder3_btnDeleteUpload"
                                                                disabled="disabled" class="aspNetDisabled">
                                                            <img id="ContentPlaceHolder3_Image1"
                                                                src="images/logo_login2.png"
                                                                style="border-style:None;height:61px;width:71px;">
                                                            <span id="ContentPlaceHolder3_lblErrorImageError"></span>

                                                        </div>

                                                    </div>


                                                    <div class="clearfix" style="margin-bottom: 5px;">
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator1"
                                                            class="errorlabels" style="display:none;">Company Name
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator2"
                                                            class="errorlabels" style="display:none;">Address1
                                                            Required</span>
                                                        &nbsp;
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator10"
                                                            class="errorlabels" style="display:none;">Address2
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator11"
                                                            class="errorlabels" style="display:none;">Address3
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator3"
                                                            class="errorlabels" style="display:none;">Email ID
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator12"
                                                            class="errorlabels" style="display:none;">Mobile No
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator13"
                                                            class="errorlabels" style="display:none;">Website
                                                            Required</span>
                                                        &nbsp;

                                                    </div>




                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-horizontal">
                                                    <div class="log_form_head1" style="margin-top: 7px;">
                                                        Invoice Details
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Name</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtiname" type="text"
                                                                id="txtiname" class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Address
                                                                1</label>&nbsp;<span id="ContentPlaceHolder3_Label3"
                                                                class="col-sm-3"></span>
                                                            <input name="ctl00$ContentPlaceHolder3$txtiaddress1"
                                                                type="text" id="txtiaddress1"
                                                                class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3" class="control-label">Address
                                                                2</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtiaddress2"
                                                                type="text" id="txtiaddress2"
                                                                class="form-control inputtext">
                                                        </div>
                                                    </div>

                                                    <div class="clearfix" style="margin-bottom: 5px;"></div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Address
                                                                3</label>&nbsp;<span id="ContentPlaceHolder3_Label4"
                                                                class="col-sm-3"></span>
                                                            <input name="ctl00$ContentPlaceHolder3$txtiaddress3"
                                                                type="text" id="txtiaddress3"
                                                                class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3" class="control-label pull-left">GST
                                                                NO</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtigstno"
                                                                type="text" id="txtigstno"
                                                                class="form-control inputtext">

                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Mobile NO</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtimobileno1"
                                                                type="text" maxlength="10" id="txtimobileno1"
                                                                class="form-control inputtext">

                                                        </div>

                                                    </div>

                                                    <div class="clearfix" style="margin-bottom: 5px;"></div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3" class="control-label pull-left">Pan
                                                                Number</label>&nbsp;<span
                                                                id="ContentPlaceHolder3_Label5" class="col-sm-3"></span>
                                                            <input name="ctl00$ContentPlaceHolder3$txtipannumber"
                                                                type="text" id="txtipannumber"
                                                                class="form-control inputtext">
                                                        </div>


                                                    </div>


                                                    <div class="clearfix" style="margin-bottom: 5px;">
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator4"
                                                            class="errorlabels" style="display:none;">Name
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator5"
                                                            class="errorlabels" style="display:none;">Address 1
                                                            Required</span>
                                                        &nbsp;errorlabels
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator6"
                                                            class="txtiaddress2" style="display:none;">Address 2
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator7"
                                                            class="errorlabels" style="display:none;">Address 3
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator18"
                                                            class="errorlabels" style="display:none;">Mobile No
                                                            Required</span>

                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator19"
                                                            class="errorlabels" style="display:none;">Pan Number
                                                            Required</span>
                                                        &nbsp;
                                                        &nbsp;

                                                    </div>


                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-horizontal">
                                                    <div class="log_form_head1" style="margin-top: 7px;">
                                                        Shipping Details
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Name</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtsname" type="text"
                                                                id="txtsname" class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Address
                                                                1</label>&nbsp;<span id="ContentPlaceHolder3_Label6"
                                                                class="col-sm-3"></span>
                                                            <input name="ctl00$ContentPlaceHolder3$txtsaddress1"
                                                                type="text" id="txtsaddress1"
                                                                class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3" class="control-label">Address
                                                                2</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtsaddress2"
                                                                type="text" id="txtsaddress2"
                                                                class="form-control inputtext">
                                                        </div>
                                                    </div>

                                                    <div class="clearfix" style="margin-bottom: 5px;"></div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Address
                                                                3</label>&nbsp;<span id="ContentPlaceHolder3_Label7"
                                                                class="col-sm-3"></span>
                                                            <input name="ctl00$ContentPlaceHolder3$txtsaddress3"
                                                                type="text" id="txtsaddress3"
                                                                class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Attendent Name</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtsattendentname"
                                                                type="text" id="txtsattendentname"
                                                                class="form-control inputtext">

                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3"
                                                                class="control-label pull-left">Mobile NO</label>
                                                            <input name="ctl00$ContentPlaceHolder3$txtsmobileno"
                                                                type="text" maxlength="10" id="txtsmobileno"
                                                                class="form-control inputtext">

                                                        </div>

                                                    </div>

                                                    <div class="clearfix" style="margin-bottom: 5px;"></div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label for="inputEmail3" class="control-label pull-left">Pan
                                                                Number</label>&nbsp;<span
                                                                id="ContentPlaceHolder3_Label16"
                                                                class="col-sm-3"></span>
                                                            <input name="ctl00$ContentPlaceHolder3$txtspannumber"
                                                                type="text" id="txtspannumber"
                                                                class="form-control inputtext">
                                                        </div>


                                                    </div>


                                                    <div class="clearfix" style="margin-bottom: 5px;">

                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator8"
                                                            class="errorlabels" style="display:none;">Pan Number
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator9"
                                                            class="errorlabels" style="display:none;">Mobile No
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator14"
                                                            class="errorlabels" style="display:none;">Address3
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator15"
                                                            class="errorlabels" style="display:none;">Address 2
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator16"
                                                            class="errorlabels" style="display:none;">Address 1
                                                            Required</span>
                                                        &nbsp;
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator17"
                                                            class="errorlabels" style="display:none;">Name
                                                            Required</span>
                                                        &nbsp;
                                                    </div>





                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-6">

                                                            <span id="lblError"></span>






                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <div class="col-sm-12">

                                                            <div class="col-sm-7 col-sm-offset-5">
                                                                <input type="submit"
                                                                    name="ctl00$ContentPlaceHolder3$btnSave"
                                                                    value="Save" id="ContentPlaceHolder3_btnSave"
                                                                    class="btn btn-primary mar_top10">

                                                                &nbsp;<input type="submit"
                                                                    name="ctl00$ContentPlaceHolder3$btnClear"
                                                                    value="Reset" id="ContentPlaceHolder3_btnClear"
                                                                    class="btn btn-primary mar_top10">

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>
                        </div>
                        <!--End Form Body -->

                    </div>


                   
                </div>









                <input type="submit" name="ctl00$ContentPlaceHolder3$btnSavePopup" value="Button"
                    id="ContentPlaceHolder3_btnSavePopup" style="display: none;">
                <div id="ContentPlaceHolder3_pnlSavePopUp"
                    style="width: 350px; display: none; position: fixed; z-index: 10001;">

                    <div id="ContentPlaceHolder3_UpdateProgress1" style="display:none;" role="status"
                        aria-hidden="true">

                        <div class="PopupWaiting">


                        </div>


                    </div>

                    <table style="width: 100%; background-color: White; border: 1px solid gray;">
                        <tbody>
                            <tr>
                                <td align="center" bgcolor="Silver">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="Silver">
                                    <strong>Confirmation Dialog</strong>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="Silver">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span id="ContentPlaceHolder3_lblSavingDialogcard"></span>


                                </td>
                            </tr>

                            <tr>
                                <td align="center">&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span id="ContentPlaceHolder3_lblConfrmMsg"></span>


                                    &nbsp;
                                </td>

                            </tr>

                            <tr>
                                <td align="center">
                                    <span id="ContentPlaceHolder3_lblpendingaproval"></span>

                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td align="center">


                                    <input type="submit" name="ctl00$ContentPlaceHolder3$btnsaveOk" value="Yes"
                                        id="ContentPlaceHolder3_btnsaveOk" class="btn btn-primary" style="width:80px;">
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="submit" name="ctl00$ContentPlaceHolder3$BtnSaveCancel" value="No"
                                        id="ContentPlaceHolder3_BtnSaveCancel" class="btn btn-primary"
                                        style="width:80px;">
                                </td>
                            </tr>
                            <tr>
                                <td align="center">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                </div>





                <input type="submit" name="ctl00$ContentPlaceHolder3$modalPopupButton" value="Button"
                    id="ContentPlaceHolder3_modalPopupButton" style="display: none;">

                <div id="ContentPlaceHolder3_DeletePopup"
                    style="width: 350px; display: none; position: fixed; z-index: 10001;">


                    <table style="width: 100%; background-color: White; border: 1px solid gray;">
                        <tbody>
                            <tr>
                                <td align="center" bgcolor="Silver">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="Silver">
                                    <strong>Confirmation Dialog</strong>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="Silver">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span id="ContentPlaceHolder3_lblDialogMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <input type="submit" name="ctl00$ContentPlaceHolder3$btnDeleteOk" value="OK"
                                        id="ContentPlaceHolder3_btnDeleteOk" class="btn btn-primary"
                                        style="width:80px;">
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="submit" name="ctl00$ContentPlaceHolder3$btnCancel" value="Cancel"
                                        id="ContentPlaceHolder3_btnCancel" class="btn btn-primary" style="width:80px;">
                                </td>
                            </tr>
                            <tr>
                                <td align="center">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>


                </div>






         </div>



            <div class="form2">

                <div class="card card-outline card-primary">
                    <div class="card-header "> Group Details ::</div>
                    <div class="card-body " style="overflow-x:auto;">
        
        
        
                        <!-- <table id="example" class="display" width="100%"></table> -->
        
                        <table id="example" class="table table-striped table-hover  ">
        
                            <thead>
                                <tr>
                                    <th scope="col">Action </th>
                                    <th scope="col">SrNo</th>
                                    <th scope="col">Company Name</th>
                                    <th scope="col">CAddress1</th>
                                    <th scope="col">CAddress2</th>
                                    <th scope="col">CAddress3</th>
                                    <th scope="col">CEmailID</th>
                                    <th scope="col">CMobileNo</th>
                                    <th scope="col">CWebsite</th>
                                    <th scope="col">IName</th>
                                    <th scope="col">IAddress1</th>
                                    <th scope="col">IAddress2</th>
                                    <th scope="col">IAddress3</th>
                                    <th scope="col">IGST</th>
                                    <th scope="col">IMobileNo</th>
                                    <th scope="col">IPanNo</th>
                                    <th scope="col">SName</th>
                                    <th scope="col">SAddress1</th>
                                    <th scope="col">SAddress2</th>
                                    <th scope="col">SAddress3</th>
                                    <th scope="col">SAttendentName</th>
                                    <th scope="col">MobileNo</th>
                                    <th scope="col">SPanNo</th>
                                    <th scope="col">Recordstatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let person of persons;let a=index">
                                    <td>
                                        <button class="badge bg-success btn btn-sm  " name='{{ person.rid}}'>Edit</button>
                                            &nbsp;
                                            <button class="badge bg-danger btn btn-sm"  name='{{ person.rid}}'>Delete</button></td>
                                            
                                   
                                     
                                    
                                  <td>  {{a+1}}</td>
                                  <td>  {{person.companyName}}</td>
                                  <td>{{ person.caddress1 }}</td>
                                  <td>  {{person.caddress2}}</td>
                                  <td>{{ person.caddress3 }}</td>
                                  <td>{{ person.cemailId }}</td>
                                  <td>  {{person.cmobileNo}}</td>
                                  <td>{{ person.cwebsite }}</td>
                                  <td>  {{person.iname	}}</td>
                                  <td>{{ person.iaddress1	 }}</td>
                                  <td>{{ person.iaddress2	 }}</td>
                                  <td>  {{person.iaddress3	}}</td>
                                  <td>{{ person.igst	 }}</td>
                                  <td>  {{person.imobileNo	}}</td>
                                  <td>{{ person.ipanNo	 }}</td>
                                  <td>{{ person.sname	 }}</td>
                                  <td>  {{person.saddress1	}}</td>
                                  <td>{{ person.saddress2	 }}</td>
                                  <td>  {{person.saddress3	}}</td>
                                  <td>{{ person.sattendentName	 }}</td>
                                  <td>{{ person.smobileNo	 }}</td>
                                  <td>  {{person.spanNo	}}</td>
                                  <td>{{ person.recordstatus }}</td>
                    
        
                                </tr>
                            </tbody>
                        </table>
        
        
                    </div>
                </div>
        
            </div>




        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->

        <!-- right col -->
    </div>
    <!-- /.row (main row) -->

</section>