<section class="content">
    <!-- Small cardes (Stat card) -->

    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        
        <section class="col-lg-12">


            <div id="UpdateProgress1" style="display:none;" role="status" aria-hidden="true">

                    <div class="divWaiting" style="z-index: 15000;">
                        <img id="imgWait" src="images/loading3.gif" align="middle" style="height:150px;width:210px;">
                    </div>
                
</div>


            

            

<div id="ContentPlaceHolder3_UpdatePanel1">

<div class="col-md-12">


<div class="panel panel-default col-md-12">
                  <div class="panel-body">

                      <div>

</div>
                    
                  </div>
                </div>




</div>


<div class="col-md-12">


<!-- general form elements -->
<div class="card card-primary">


<!--Start Form Heading -->
<div class="card-header with-border">
    <h3 class="card-title"><strong>Create Purchase Order</strong></h3>
</div>
<!--Start Form Heading -->

<!--Start Form Body -->


<div class="card-body">
    <div class="row">

        
        <div class="col-md-12">
            <div class="bder top-mrg20">

                

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">Company Name</label>
                                    <select name="ctl00$ContentPlaceHolder3$ddlcompanyname" id="ContentPlaceHolder3_ddlcompanyname" class="form-control">
<option value="0">---Select Company---</option>
<option value="1">Nexion Automation Pvt Ltd</option>
<option value="0">--Select All--</option>

</select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">Supplier Name</label>&nbsp;<span id="ContentPlaceHolder3_lblloginIdError" class="col-sm-3"></span>
                                    <select name="ctl00$ContentPlaceHolder3$ddlsuppliername" id="ContentPlaceHolder3_ddlsuppliername" class="form-control">
<option value="0">---Select Supplier---</option>
<option value="267">PRIME ELECTROTECH</option>
<option value="268">R.S. Electromech  (P) Ltd</option>
<option value="269">M/S  RS AUTOMATION &amp; HARDWARE</option>
<option value="270">DHAMIJA  ELECTRICALS PVT LTD</option>
<option value="271">YASH TECHNOLOGIES  ,  Panel AC, Chillers and Air cooling Systems</option>
<option value="279">ARGUS CONTROLS  &amp; AUTOMATION</option>
<option value="280">Arista Automation Pvt.Ltd.</option>
<option value="281">FUTECH IOT PRIVATE LIMITED</option>
<option value="283">ULTRA TELTRONICS</option>
<option value="285">RITMO AUTOMATION SOLUATION PVT LTD</option>
<option value="286">Mundhra Brothers</option>
<option value="287">SHARMA ELECTRICALS</option>
<option value="288">Aarcee Electrical Controls</option>
<option value="292">DEUTEK CONTROLS (INDIA) LTD</option>
<option value="294">REXEL INDIA PVT LTD (INDORE)</option>
<option value="295">ENDRESS+HAUSER( INDIA ) PVT LTD</option>
<option value="296">SUDHA ENG-TECH</option>
<option value="297">SHRENIK &amp; COMPANY</option>
<option value="298">S. V. Metals &amp; Extrusions Pvt. Ltd.</option>
<option value="299">ATC ELECTRICALS PVT LTD</option>
<option value="301">Manglam Traders</option>
<option value="302">P&amp;S Innovation</option>
<option value="303">CAMEO SYSTEMS</option>
<option value="304">RESHOM INDIA PVT LTD</option>
<option value="306">CHUGH BROTHERS PVT  LTD</option>
<option value="307">YK INFOTECH</option>
<option value="309">HINDUSTAN METALS</option>
<option value="310">KUMAR ENTERPRISES</option>
<option value="312">NIRVAY SOLUTIONS PRIVATE LIMITED</option>
<option value="313">INDIA METALS</option>
<option value="314">Kallatra Technologies Private Limited</option>
<option value="317">DEBAK Enterprises Private Limited</option>
<option value="320">WIKA Instruments India Pvt. Ltd.</option>
<option value="321">Aarvisac Control Pvt. Ltd.</option>
<option value="323">Mechatron System</option>
<option value="325">SAFETY HOUSE</option>
<option value="326">JITANI TIMBER  &amp; PLYWOOD AGENCY</option>
<option value="329">STEM FACTORY SOLUTIONS</option>
<option value="330">SYSTEM CONTROLS &amp;  SWITCHGEARS</option>
<option value="331">Wheels Polymers Pvt. Ltd</option>
<option value="332">WAYINFOTECH SOLUTION</option>
<option value="277">STEP UP ELECTRICALS</option>
<option value="284">SuperSync Technologies Pvt. Ltd</option>
<option value="305">LB ELECTRIC CO</option>
<option value="319">ELECTRICAL EQUIPMENT CO</option>
<option value="324">INDEANA ENGINEERING</option>
<option value="327">TECHNO CONTROL INDIA</option>
<option value="328">GEEMAX FIRE PROTECTION</option>
<option value="282">COTMAC  ELECTRONICS PRIVATE LIMITED</option>
<option value="300">VIRDI ENTERPRISES</option>
<option value="316">NPK Industries &amp; Co</option>
<option value="318">ACCURATE CONTROL &amp; AUTOMATION</option>
<option value="289">Urbe Techovatives Pvt.Ltd</option>
<option value="290">Alpha Infotech</option>
<option value="308">SHARMA ELECTRICALS  PEERAGARHI</option>
<option value="311">EXCO GRAPHIC (INDIA) PVT LTD</option>
<option value="291">SIYARAM ELECTRICAL</option>
<option value="293">Hitech Power Solutions</option>
<option value="315">AAR POWER SOLUTION</option>
<option value="322">NEW ERA MACHINES</option>
<option value="179">AP ELECTRICAL INDUSTRY</option>
<option value="180">Rexel India Pvt. Ltd.</option>
<option value="181">TIMES IT SERVICES PVT. LTD.</option>
<option value="182">Powercam Electricals Pvt. Ltd.</option>
<option value="183">Touchwood Enterprises</option>
<option value="184">PRIME AEROSOLS</option>
<option value="185">V.R. Engineering works</option>
<option value="186">Techno Trades</option>
<option value="187">Maheshwari Electricals</option>
<option value="188">Krishna steel.</option>
<option value="189">NEPTUNE SYSTEMS PVT. LTD.</option>
<option value="190">HARYANA IRON STORE</option>
<option value="191">BHURJI SUPER CRAFT IMPEX.</option>
<option value="192">AYKAY ELECTRONICS</option>
<option value="193">Paramount Industries</option>
<option value="194">ATC ENGINEERING SYSTEM PVT LTD</option>
<option value="195">DBS Certification Pvt. Ltd</option>
<option value="196">BAKELITE HOME</option>
<option value="197">SHIV SHAKTI CREATIONS</option>
<option value="198">PEX  ENGINEERING LLP</option>
<option value="199">M D GRAPHICS PRIVATE LIMITED</option>
<option value="200">PLASTIC HOUSE(INDIA)</option>
<option value="201">Lofty Engineering Solutions</option>
<option value="202">GYANDEEP ELECTRICALS</option>
<option value="203">Subtle Controls I Pvt. Ltd.</option>
<option value="204">VENTO POWER SYSTEMS</option>
<option value="205">AMPS CONTROLS &amp; AUTOMATION</option>
<option value="206">JETSPEED LOGISTICS PVT LTD</option>
<option value="207">Argus Controls &amp; Automation</option>
<option value="208">S.P. ENGINEERING WORKS</option>
<option value="209">Siemens Ltd.,Mumbai</option>
<option value="210">DP ELECTRICAL</option>
<option value="211">M/s Durga Electric Co</option>
<option value="212">D.P. ELECTRICALS PVT. LTD.</option>
<option value="213">Neha Enterprises</option>
<option value="214">YSM ELECTRONICS</option>
<option value="215">GSI ENTERPRISES PRIVATE LIMITED</option>
<option value="216">Parma &amp; Parma (India) Pvt Ltd</option>
<option value="217">Micro Instrument  &amp; Control System</option>
<option value="218">EAGLEMAN ENTERPRISES</option>
<option value="219">Balaji Switchgears Pvt. Ltd.</option>
<option value="220">Sahara Engineers &amp; Consultants</option>
<option value="221">Explore Technologies</option>
<option value="222">Ajanta Control Systems</option>
<option value="223">Sudershan Industries</option>
<option value="224">Jiwan Furniture</option>
<option value="225">EASTERN CARBON BRUSH MFG.CO.</option>
<option value="226">SHREE ELECTRONICS</option>
<option value="227">THE COOLING LABS</option>
<option value="228">BHAGIRATH ELECTRIC COMPANY</option>
<option value="229">DELTA P D PUMPS PVT LTD</option>
<option value="230">Matangi Polymers &amp; Products P Ltd</option>
<option value="231">Durga Bhai &amp; Co Delh</option>
<option value="232">KALPA ELECTRIKAL PVT. LTD</option>
<option value="233">Mahavir Enterprises</option>
<option value="234">MAHAMAI ENGINEERS</option>
<option value="235">CENTROID ENGINEERING SOLUTIONS</option>
<option value="236">MAVEN AUTOMATION</option>
<option value="237">Competition Packaging Pvt. Ltd.</option>
<option value="238">AOF FILTRATION SYSTEMS (P) LTD</option>
<option value="239">Hind Hydrotech  PSR Engineering work</option>
<option value="240">Rajarshi Engineering</option>
<option value="241">General Engineering Consortium</option>
<option value="242">A E POWER SOLUTIONS</option>
<option value="243">Application Control’s &amp; Automation System’s</option>
<option value="244">M/s M/s Shubham Traders</option>
<option value="245">RPL Automation Pvt. Ltd.</option>
<option value="246">RECKON RESISTORS PVT LTD</option>
<option value="247">Jindal Pipe Fittings Supplier</option>
<option value="248">ELECTRIC INSTRUMENTATION</option>
<option value="249">RELEMAC TECHNOLOGIES PVT. LTD.</option>
<option value="250">Pepperl + Fuchs Factory Automation Pvt. Ltd.</option>
<option value="1">SONEPAR INDIA PVT LTD</option>
<option value="4">I TECH WORLD</option>
<option value="3">ESGEE ELECTRIC COMPANY</option>
<option value="5">APC SWITCHGEARS &amp; CONTROL</option>
<option value="9">AARCEE MITTAL &amp; BROS.</option>
<option value="10">ACCOUNT OFFICER , CPRI , BHOPAL
</option>
<option value="11">ADITYA ENTERPRISES</option>
<option value="12">Allied Moulded Enclosures Products (India) Pvt Ltd</option>
<option value="13">APC SWITCHGEARS &amp;amp; CONTROLS</option>
<option value="14">Apex Technocrats Pvt. Ltd.</option>
<option value="15">ARORA WOOD WORKS (P) LTD.</option>
<option value="16">ASHUTOSH SINGH COMMISSION PAYABLE</option>
<option value="17">AUTOMATION SYSTEMS &amp; SOLUTION</option>
<option value="18">BAIJNATH (JOB WORK)</option>
<option value="19">BAJRANG</option>
<option value="20">CENTRAL POWER RESEARCH INSTITUTE</option>
<option value="21">Coronet Engineers Pvt. Ltd. Kundli</option>
<option value="22">Coronet Engineers Pvt. Ltd. - Delhi</option>
<option value="23">CRISP ENTERPRISES</option>
<option value="24">Dev Electricals</option>
<option value="25">DEV TRADING Co.</option>
<option value="26">DINESH KUMAR (BZLPK4974J)</option>
<option value="27">DS AUTOMATION &amp; CONTROLS</option>
<option value="28">DURGA ENTERPRISES</option>
<option value="29">DURGA ENTERPRISES (DTDC COURIER)</option>
<option value="30">DYNAMIC ELECTRICALS &amp; SITCHGEARS PVT. LTD.</option>
<option value="31">Dynamic Power Projects Pvt. Ltd.</option>
<option value="32">E&amp;A ENGINEERING SOLUTIONS</option>
<option value="33">ESGEE ELECTRIC COMPANY</option>
<option value="34">ESGEE ELECTRIC COMPANY - B</option>
<option value="35">ESK INDIA COMMERCE &amp; TRADE PVT. LTD.(WB)</option>
<option value="36">Esk India Commerce and Trade Pvt. Ltd.</option>
<option value="37">ESK India Commerce and Trade Pvt. Ltd. - PUR. (DL.)</option>
<option value="38">Friends Computer &amp;amp; Peripherals</option>
<option value="39">G.S. ENGINEERS</option>
<option value="40">GHANSHYAM</option>
<option value="41">Google India Pvt. Ltd.</option>
<option value="42">Harpreet Motors Pvt. Ltd.</option>
<option value="43">HI TECH COMPUTER SYSTEMS</option>
<option value="44">INDRA ELECTRICAL CONTROLS</option>
<option value="45">ITECH WORLD</option>
<option value="46">Jaspreet Print Media</option>
<option value="47">JASTECH SYSTEMS PRIVATE LIMITED</option>
<option value="48">KAMDHENU CARGO CARRIERS</option>
<option value="49">KGN Services</option>
<option value="50">KHANDELWAL AGENCIES</option>
<option value="51">Khanna Electricals</option>
<option value="52">KP Tomer Commission Payable</option>
<option value="53">Krishna Traders</option>
<option value="54">KUDAMM CORPORATION</option>
<option value="55">LOGITECH CONTROLS</option>
<option value="56">MANOJ SONI TEMPO SERVICE</option>
<option value="57">MAX ENGINEERING &amp; MARKETING PVT. LTD.</option>
<option value="58">Meticulous Messtechnik and Control Private Ltd.</option>
<option value="59">MICROSET CONTROLS</option>
<option value="60">NANDU ELECTRICAL WORKS</option>
<option value="61">NEW SHIV ELECTRIC CONTROLS</option>
<option value="62">NISHANT ENGINEERS</option>
<option value="63">NITIN JAIN (JOB WORK)</option>
<option value="64">ONYX EQUIPMENTS (INDIA) PVT. LTD.</option>
<option value="65">OPTRON INSTRUMENTATION</option>
<option value="66">PEPPERL &amp; FUCHS (INDIA) PVT. LTD.</option>
<option value="67">PIMA CONTROLS PVT. LTD.</option>
<option value="68">PINGLE CORPORATE SOLUTIONS PVT. LTD.</option>
<option value="69">PSP TECHNO ENGINEERS PVT. LTD.</option>
<option value="70">Rahul Enterprises</option>
<option value="71">RAJESH KUMAR  (Tempo Service)</option>
<option value="72">RECKERS AUTOMATION INDIA (P) LTD.</option>
<option value="73">RENU COMMISSION PAYABLE</option>
<option value="74">RISING EDGE AUTOMATION (P) LTD.</option>
<option value="75">S.K. INDUSTRIES</option>
<option value="76">SECURA ENGINEERS</option>
<option value="77">SECURITAS ENGINEERS</option>
<option value="78">SHARDA ENTERPRISES</option>
<option value="79">SHARDA ENTERPRISES - 06</option>
<option value="80">SHARWAN KUMAR PATHAK (TEMPO SERVICE)</option>
<option value="81">SHIV SHAKTI INDUSTRIES</option>
<option value="82">SHIV SHANKAR TEMPO SERVICE</option>
<option value="83">SHIVAY ENTERPRISES</option>
<option value="84">SHREENATH METALS</option>
<option value="85">SHRI GURU NANAK ELECTRICALS PVT. LTD.</option>
<option value="86">Shri Ram Electricals</option>
<option value="87">SHRI RAM POWER CONTROLS</option>
<option value="88">SIDHARTH ENTERPRISES (DTDC COURIER)</option>
<option value="89">Sinewave Power Technologies Pvt. Ltd.</option>
<option value="90">SINGH SWITCH GEAR</option>
<option value="91">SONI ENTERPRISES</option>
<option value="6">Techmech  Electricals</option>
<option value="92">SPECTRUM TECHNOLOGIES</option>
<option value="93">SRI SAI ENTERPRISES (GATI KWE)</option>
<option value="94">SUDHAKAR SHARMA</option>
<option value="95">SUDHAKAR SHARMA (CPKPS4530J)</option>
<option value="96">SUKHIJA ELECTRICALS</option>
<option value="97">TAC AUTOMATION PVT. LTD.</option>
<option value="98">TANEJA COMPUTERS</option>
<option value="99">TECHMECH ELECTRICALS</option>
<option value="100">Terebrum Solutions</option>
<option value="101">TOSHNIWAL SECURITY SOLUTIONS PVT. TLD.</option>
<option value="102">TRACKON COURIERS PVT. LTD.</option>
<option value="103">UNA INDUSTRIAL TRADERS</option>
<option value="104">VANSH ELECTRICAL CONTROLS</option>
<option value="105">VASHI ELECTRICALS PVT. LTD.</option>
<option value="106">VIGITAL INDIA PVT. LTD.</option>
<option value="107">VODAFONE MOBILE SERVICES LIMITED</option>
<option value="108">TOTAL CONTRAL  AUTOMATION</option>
<option value="109">HI-TECH COMPUTER SYSTEMS</option>
<option value="110">I - TECH WORLD INDIA</option>
<option value="111">SK INDUSTRIES</option>
<option value="124">S.L. ENGINEERS</option>
<option value="113">World Technological Products Pvt. Ltd.</option>
<option value="115">Advance Cooling Systems Pvt. Ltd.</option>
<option value="117">DIGITAL PROMOTERS (INDIA) PVT. LTD.</option>
<option value="119">Vision Automation &amp; Engineering Solutions</option>
<option value="120">S.L. ENGINEERING</option>
<option value="121">Grasp Electric Pvt. Ltd</option>
<option value="126">ARC AUTO-TECH PVT. LTD.</option>
<option value="128">HACHIMAN  TECHNOLOGIES PVT. LTD.</option>
<option value="131">DYNATEK SYSTEMS &amp; CONTROLS PVT. LTD.</option>
<option value="132">Jt Engineering Solutions</option>
<option value="134">PENCLOTEK PANELS PVT.LTD.</option>
<option value="138">TRACEMOTOR</option>
<option value="140">KEI  INDUSTRIES LTD.</option>
<option value="142">Anon Automation Pvt. Ltd.</option>
<option value="143">Beacon Industrial Electronics Pvt.Ltd.</option>
<option value="7">PSP Techno Engineers Pvt.Ltd</option>
<option value="8">JASTECH SYSTEMS PVT. LTD.</option>
<option value="112">BBN ENERGY SYSTEMS PVT. LTD.</option>
<option value="118">Sinewave Power Technologies Private  Limited</option>
<option value="125">ENAPROS</option>
<option value="130">Paradise Electrical Industries</option>
<option value="144">THREE S INFOTECH</option>
<option value="147">VP-Marketing-North</option>
<option value="150">Adhunik Automation India</option>
<option value="151">KRISHNA PACKAGING</option>
<option value="153">MULTIVERSE SOLUTIONS</option>
<option value="154">Nagpal Electricals &amp; Electronics</option>
<option value="155">Super Engineers</option>
<option value="156">M/S JAI MATESHAWRI CONTRACTOR</option>
<option value="158">M/s _ Radiance Engineering Company</option>
<option value="161">Spray Engineering Devices Limited</option>
<option value="162">Indomax</option>
<option value="163">Radix Electrosystems Pvt Ltd</option>
<option value="165">Trumen Technologies Pvt Ltd</option>
<option value="166">REXEL INDIA PRIVATE LIMITED</option>
<option value="168">Hunbow Industries</option>
<option value="170">R.K.J.K Enterprises</option>
<option value="174">Bristol Industrial Electronics</option>
<option value="176">Asiatic Electrical &amp; Switchgear Pvt. Ltd.</option>
<option value="114">Siemens Ltd.</option>
<option value="116">ELECTRONIC SWITCHES ( I ) PVT. LTD.</option>
<option value="137">VEGA India Level and Pressure Measurement Pvt. Ltd</option>
<option value="146">ARIHANT SALES CORPORATION</option>
<option value="152">Brisk Electronics Pvt. Ltd.</option>
<option value="164">BANNER ENGINEERING INDIA PRIVATE LIMITED</option>
<option value="122">SKY TOUCH CONTROLS</option>
<option value="127">Electrical Control Systems</option>
<option value="129">PRECISE ELECTRICALS</option>
<option value="136">Dycon Systems Pvt. Ltd.</option>
<option value="171">PARAMOUNT COMMUNICATIONS LTD</option>
<option value="172">Allied Electrocomp</option>
<option value="178">M/s. Arya Engineers</option>
<option value="123">Veetech System</option>
<option value="141">DELSYS AUTOMATION TECHNOLOGIES PVT LTD</option>
<option value="149">SM ELECTRICALS</option>
<option value="159">TRIMURTI STAINLINK EQUIPMENTS PRIVATE LIMITED</option>
<option value="133">EIP ENVIRO LEVEL CONTROLS PVT LTD</option>
<option value="135">NexGen Industrial Solutions Pvt. Ltd.(Siemens System House)</option>
<option value="139">INFRA NETWORK SOLUTIONS</option>
<option value="145">Myra Electrotech India</option>
<option value="148">SITA ELECTRICALS</option>
<option value="157">Securitas Engineers,</option>
<option value="169">Technoviz Automation</option>
<option value="175">PHILCO  ENGINEERING  INDUSTRIES,</option>
<option value="177">Accurate Electric &amp; Process Control</option>
<option value="160">Festo India Private Limited</option>
<option value="167">MICON AUTOMATION SYSTEMS PVT. LTD</option>
<option value="173">Spectrum Business Associates</option>
<option value="251">A R Process Automation</option>
<option value="253">Taj electricals</option>
<option value="254">POWERTECH ENGINEERS</option>
<option value="255">SM ENGINEERS</option>
<option value="256">UDAY KUMAR</option>
<option value="257">Kumar Generator House</option>
<option value="258">GP SYSTEMS &amp; SOLUTIONS PRIVATE LIMITED</option>
<option value="259">VISHESH ALLOY</option>
<option value="260">M. M. Electricals &amp; Electronics</option>
<option value="261">SP Automation</option>
<option value="263">M/s Shri Krishna Mfg &amp; Trading Co.</option>
<option value="264">INDUSTRIAL ELECTRIC CORPRATION</option>
<option value="265">APICON  ELECTRICAL ENGINEERS</option>
<option value="266">M/S Ganotra &amp; Co.</option>
<option value="272">M/S, ELECTRONIC APPLYANCES</option>
<option value="273">R.B Traders</option>
<option value="274">PREZOTECH SOLUTIONS PRIVATE LIMITED</option>
<option value="252">ARCHANA  SALES CORPORATION</option>
<option value="262">JAI Enterprises</option>
<option value="275">Manglam Electricals</option>
<option value="276">Essae-Teraoka Private Limited  (An Indo – Japanese Joint venture)</option>
<option value="278">Jindal Electric co.</option>
<option value="0">--Select All--</option>

</select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label">Order Date</label>
                                    <input name="ctl00$ContentPlaceHolder3$txtorderdate" type="text" value="14-Jun-2022" id="txtorderdate" class="form-control inputtext" autocomplete="off">
                                    
                                </div>
                            </div>

                            <div class="clearfix" style="margin-bottom: 5px;"></div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">Payment Terms</label>&nbsp;
                                    <input name="ctl00$ContentPlaceHolder3$txtpaymentterms" type="text" id="txtpaymentterms" class="form-control inputtext" autocomplete="off">
                                </div>
                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">Indent No</label>
                                    <input name="ctl00$ContentPlaceHolder3$txtindentno" type="text" id="txtindentno" class="form-control inputtext" autocomplete="off">

                                </div>
                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">Freight Terms</label>
                                    <input name="ctl00$ContentPlaceHolder3$txtfreightterms" type="text" id="txtfreightterms" class="form-control inputtext" autocomplete="off">

                                </div>

                            </div>

                            <div class="clearfix" style="margin-bottom: 5px;"></div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">Work Order No</label>
                                    <input name="ctl00$ContentPlaceHolder3$txtorderno" type="text" id="txtorderno" class="form-control inputtext" autocomplete="off">
                                </div>

                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">GST</label>&nbsp;
                                    <input name="ctl00$ContentPlaceHolder3$txtgst" type="text" id="txtgst" class="form-control inputtext" autocomplete="off">
                                </div>

                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">Delivery</label>&nbsp;
                                    <input name="ctl00$ContentPlaceHolder3$txtdelivery" type="text" id="txtdelivery" class="form-control inputtext" autocomplete="off">
                                    
                                </div>

                            </div>


                            <div class="clearfix" style="margin-bottom: 5px;">
                                <span id="ContentPlaceHolder3_RequiredFieldValidator4" class="errorlabels" style="font-size:8pt;display:none;">Select Company Name</span>

                                <span id="ContentPlaceHolder3_RequiredFieldValidator5" class="errorlabels" style="font-size:8pt;display:none;">Select Supplier Name</span>



                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <input id="ContentPlaceHolder3_chkuplaod" type="checkcard" name="ctl00$ContentPlaceHolder3$chkuplaod" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder3$chkuplaod\',\'\')', 0)"><label for="ContentPlaceHolder3_chkuplaod">Upload To Excel</label>
                                </div>
                                 <div class="col-sm-4">
                                     </div>
                                <div class="col-sm-4">
                                    <input id="ContentPlaceHolder3_chklot" type="checkcard" name="ctl00$ContentPlaceHolder3$chklot"><label for="ContentPlaceHolder3_chklot">Po Against Lot</label>
                                </div>
                            </div>






                            

                             <div class="row gst" style="display:none">
                                <div class="col-sm-4">
                                   
                                    </div>
                                 <div class="col-sm-4">
                                    
                                    
                                    <label for="inputEmail3" class="control-label pull-left">GST Types</label>&nbsp;
                                    <select name="ctl00$ContentPlaceHolder3$Drop_gst" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder3$Drop_gst\',\'\')', 0)" id="ContentPlaceHolder3_Drop_gst" class="form-control">
<option selected="selected" value="--Select--">--Select--</option>
<option value="Intra-State GST">Intra-State GST</option>
<option value="Inter-State GST">Inter-State GST</option>

</select>
                                
                                     
                                    
                                      
                                     </div>
                                <div class="col-sm-4">
                                   
                                    <label id="ContentPlaceHolder3_gst_lbl" class="control-label pull-left">GST (%) :-</label>
                                    <select name="ctl00$ContentPlaceHolder3$DropDownList1" id="ContentPlaceHolder3_DropDownList1" class="form-control">
<option selected="selected" value="--Select--">--Select--</option>

</select>
                                    <div class="hidden">
                                    <input id="ContentPlaceHolder3_gst_rdo" type="radio" name="ctl00$ContentPlaceHolder3$gst_rdo" value="gst_rdo" checked="checked"><label for="ContentPlaceHolder3_gst_rdo">18</label>
                                    <input id="ContentPlaceHolder3_gst_rdo1" type="radio" name="ctl00$ContentPlaceHolder3$gst_rdo" value="gst_rdo1"><label for="ContentPlaceHolder3_gst_rdo1">28</label>
                                     <input id="ContentPlaceHolder3_gst_rdo2" type="radio" name="ctl00$ContentPlaceHolder3$gst_rdo" value="gst_rdo2"><label for="ContentPlaceHolder3_gst_rdo2">0</label>
                                        </div>
                                </div>
                            </div>
















                            <div id="ContentPlaceHolder3_div_manual" class="row">
                                <div class="col-sm-4 inline">
                                    <label for="inputEmail3" class="control-label pull-left">Description</label>
                                     <input type="submit" name="ctl00$ContentPlaceHolder3$btnsearch" value="Search" id="ContentPlaceHolder3_btnsearch" class=" " style="float:right">  
                                    <input name="ctl00$ContentPlaceHolder3$txtdescription" type="text" id="txtdescription" class="form-control inputtext "> 
                                       
                                   
                                   
                                </div>

                                  <div class="col-sm-2 inline">
                                    <label for="inputEmail3" class="control-label pull-left">Cat No</label>
                                     
                                    <input name="ctl00$ContentPlaceHolder3$txtcat" type="text" id="txtcat" class="form-control inputtext "> 
                                       
                                   
                                   
                                </div>


                                <div class="col-sm-1">
                                    <label for="inputEmail3" class="control-label pull-left">UOM</label>&nbsp;
                                <select name="ctl00$ContentPlaceHolder3$ddluom" id="ContentPlaceHolder3_ddluom" class="form-control">
<option value="Nos">Nos</option>
<option value="Pcs">Pcs</option>
<option value="Lot">Lot</option>
<option value="KG">KG</option>
<option value="Roll">Roll</option>
<option value="Mtr">Mtr</option>
<option value="Bundle">Bundle</option>
<option value="length">length</option>
<option value="Dozen">Dozen</option>
<option value="Pkt">Pkt</option>
<option value="card">card</option>
<option value="Set">Set</option>

</select>
                                </div>

                                <div class="col-sm-1">
                                    <label for="inputEmail3" class="control-label pull-left">Qty</label>&nbsp;
                                    <input name="ctl00$ContentPlaceHolder3$txtqty" type="text" id="txtqty" class="form-control inputtext">
                               
                                    </div>
                                <div class="col-sm-2">
                                    <label for="inputEmail3" class="control-label pull-left">List price</label>&nbsp;
                                    <input name="ctl00$ContentPlaceHolder3$txtlistprice" type="text" id="txtlistprice" class="form-control inputtext">
                                
                                </div>
                                <div class="col-sm-2">
                                    <label for="inputEmail3" class="control-label pull-left">Discount</label>&nbsp;
                                    <input name="ctl00$ContentPlaceHolder3$txtdiscount" type="text" id="txtdiscount" class="form-control inputtext">
                              
                                    </div>
                                <div class="col-sm-2 " style="float:right">
                                    <div class="clearfix" style="margin-top: 10px;"></div>
                                    <input type="submit" name="ctl00$ContentPlaceHolder3$btn_add" value="ADD" id="ContentPlaceHolder3_btn_add" class="btn btn-primary">
                                </div>

                            </div>
                            <div class="row">
                                    <span id="ContentPlaceHolder3_RequiredFieldValidator1" class="errorlabels" style="display:none;">Enter Description</span>


        <span id="ContentPlaceHolder3_RequiredFieldValidator2" class="errorlabels" style="display:none;">Enter QTY</span>
                                   <span id="ContentPlaceHolder3_RequiredFieldValidator3" class="errorlabels" style="display:none;">Enter Discount</span>
                                   <span id="ContentPlaceHolder3_RequiredFieldValidator6" class="errorlabels" style="display:none;">Enter List Price</span>
                            </div>

                            




                            
                            <!--------------------------------------------------------customise--------------------------------------->

                          <br>
                            <div class="clearfix">
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <div class="table_wid">
                                            <div>

</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-top :15px;">
                            </div>
                            <!-----------------------------------------------------end customise--------------------------------------------->
                            <div class="clearfix" style="margin-top :15px;">
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <div class="table_wid">
                                            <div>
<table cellspacing="0" rules="all" border="1" id="ContentPlaceHolder3_GridView1" style="border-style:None;border-collapse:collapse;">
<tbody><tr>
<th scope="col">&nbsp;</th><th scope="col">SrNo</th><th scope="col">Description</th><th scope="col">Cat No</th><th scope="col">UOM</th><th scope="col">QTY</th><th scope="col">List Price</th><th scope="col">Discount</th><th scope="col">Unit Price</th><th scope="col">Net Price</th>
</tr><tr style="background-color:#90EE90;">
<td>
                                                            <input type="submit" name="ctl00$ContentPlaceHolder3$GridView1$ctl02$btnDelete_Row" value="Delete" id="ContentPlaceHolder3_GridView1_btnDelete_Row_0" class="btn btn-sm btn-danger">
                                                            
                                                            
                                                        </td><td style="width:100px;">
                                                            <span id="ContentPlaceHolder3_GridView1_lblRowNumber_0">1</span>
                                                        </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
</tbody></table>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <label class="control-label pull-left" for="inputEmail3">
                                    Purchase Order Remarks</label>
                                    <textarea name="ctl00$ContentPlaceHolder3$txtremarks" rows="2" cols="20" id="txtremarks" class="form-control inputtext"></textarea>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label pull-left" for="inputEmail3">
                                    Total</label>&nbsp;
                                    <input name="ctl00$ContentPlaceHolder3$txttotal" type="text" id="txttotal" disabled="disabled" class="aspNetDisabled form-control inputtext">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label pull-left" for="inputEmail3">
                                    Type Of Delivery</label>&nbsp;
                                    <select name="ctl00$ContentPlaceHolder3$ddldelivery" id="ContentPlaceHolder3_ddldelivery" class="form-control">
<option value="Select One">Select One</option>
<option value="Lot">Lot</option>
<option value="Partial">Partial</option>

</select>
                                </div>
                                <div class="col-sm-4">
                                    <input id="ContentPlaceHolder3_chkenduser" type="checkcard" name="ctl00$ContentPlaceHolder3$chkenduser" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder3$chkenduser\',\'\')', 0)"><label for="ContentPlaceHolder3_chkenduser">End User</label>
                                </div>
                            </div>
                            
                            <span id="ContentPlaceHolder3_RequiredFieldValidator7" class="errorlabels" style="font-size:8pt;display:none;">Select Type Of Delivery</span>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="inputEmail3">
                                </label>
                                <div class="col-sm-6">
                                    
                                    <span id="lblError"></span>
                                    
                                    
                                    
                                    
                                    
                                    
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-7 col-sm-offset-5">
                                        <input type="submit" name="ctl00$ContentPlaceHolder3$btnSave" value="Save"  id="ContentPlaceHolder3_btnSave" class="btn btn-primary mar_top10">
                                        &nbsp;
                                        <input type="submit" name="ctl00$ContentPlaceHolder3$btnsaveprint" value="Save &amp; Print" id="ContentPlaceHolder3_btnsaveprint" class="btn btn-info mar_top10">
                                        &nbsp;<input type="submit" name="ctl00$ContentPlaceHolder3$btnClear" value="Reset" id="ContentPlaceHolder3_btnClear" class="btn btn-primary mar_top10">
                                    </div>
                                </div>
                            </div>
                           
                                                                       
                        </div>
                    </div>
                </div>





            </div>



        </div>
    </div>
</div>
<!--End Form Body -->

</div>



</div>









<input type="submit" name="ctl00$ContentPlaceHolder3$btnSavePopup" value="Button" id="ContentPlaceHolder3_btnSavePopup" style="display: none;">
<div id="ContentPlaceHolder3_pnlSavePopUp" style="width: 350px; display: none; position: fixed; z-index: 10001;">

<div id="ContentPlaceHolder3_UpdateProgress1" style="display:none;" role="status" aria-hidden="true">

    <div class="PopupWaiting">
        
        
    </div>


</div>

<table style="width: 100%; background-color: White; border: 1px solid gray;">
<tbody><tr>
    <td align="center" bgcolor="Silver">&nbsp;</td>
</tr>
<tr>
    <td align="center" bgcolor="Silver">
        <strong>Confirmation Dialog</strong>
        <br>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="Silver">&nbsp;</td>
</tr>
<tr>
    <td align="center">&nbsp;</td>
</tr>
<tr>
    <td align="center">
        <span id="ContentPlaceHolder3_lblSavingDialogcard"></span>


    </td>
</tr>

<tr>
    <td align="center">&nbsp;
    </td>
</tr>
<tr>
    <td align="center">
        <span id="ContentPlaceHolder3_lblConfrmMsg"></span>


        &nbsp;</td>

</tr>

<tr>
    <td align="center">
        <span id="ContentPlaceHolder3_lblpendingaproval"></span>

        &nbsp;</td>
</tr>

<tr>
    <td align="center">


        <input type="submit" name="ctl00$ContentPlaceHolder3$btnsaveOk" value="Yes" id="ContentPlaceHolder3_btnsaveOk" class="btn btn-primary" style="width:80px;">
        &nbsp;&nbsp;&nbsp;
<input type="submit" name="ctl00$ContentPlaceHolder3$BtnSaveCancel" value="No" id="ContentPlaceHolder3_BtnSaveCancel" class="btn btn-primary" style="width:80px;">
    </td>
</tr>
<tr>
    <td align="center">&nbsp;</td>
</tr>
</tbody></table>

</div>





<input type="submit" name="ctl00$ContentPlaceHolder3$modalPopupButton" value="Button" id="ContentPlaceHolder3_modalPopupButton" style="display: none;">

<div id="ContentPlaceHolder3_DeletePopup" style="width: 350px; display: none; position: fixed; z-index: 10001;">


<table style="width: 100%; background-color: White; border: 1px solid gray;">
<tbody><tr>
    <td align="center" bgcolor="Silver">&nbsp;</td>
</tr>
<tr>
    <td align="center" bgcolor="Silver">
        <strong>Confirmation Dialog</strong>
        <br>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="Silver">&nbsp;</td>
</tr>
<tr>
    <td align="center">&nbsp;</td>
</tr>
<tr>
    <td align="center">
        <span id="ContentPlaceHolder3_lblDialogMsg"></span>
</td></tr>
<tr>
    <td align="center">&nbsp;</td>
</tr>
<tr>
    <td align="center">
        <input type="submit" name="ctl00$ContentPlaceHolder3$btnDeleteOk" value="OK" id="ContentPlaceHolder3_btnDeleteOk" class="btn btn-primary" style="width:80px;">
        &nbsp;&nbsp;&nbsp;
<input type="submit" name="ctl00$ContentPlaceHolder3$btnCancel" value="Cancel" id="ContentPlaceHolder3_btnCancel" class="btn btn-primary" style="width:80px;">
    </td>
</tr>
<tr>
    <td align="center">&nbsp;</td>
</tr>
</tbody></table>


</div>







<div data-act-control-type="modalPopupBackground" id="ContentPlaceHolder3_btnSave_ModalPopupExtender_backgroundElement" class="modalBackground" style="display: none; position: fixed; left: 0px; top: 0px; z-index: 10000;"></div><div data-act-control-type="modalPopupBackground" id="ContentPlaceHolder3_ModalPopupExtender1_backgroundElement" class="modalBackground" style="display: none; position: fixed; left: 0px; top: 0px; z-index: 10000;"></div></div>





            
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->

        <!-- right col -->
    </div>
    <!-- /.row (main row) -->

</section>