<section class="col-lg-12">


    <div id="UpdateProgress1" style="display: none;" role="status" aria-hidden="true">

        <div class="divWaiting" style="z-index: 15000;">
            <img id="imgWait" src="images/loading3.gif" align="middle" style="height:150px;width:210px;">
        </div>

    </div>






    <div id="UpdatePanel1">
        <div class="col-md-12">


            <div class="panel panel-default col-md-12">
                <div class="panel-body">

                    <div>

                    </div>

                </div>
            </div>




        </div>


        <div class="col-md-12">


            <!-- general form elements -->
            <div class="card card-primary">


                <!--Start Form Heading -->
                <div class="card-header with-border">
                    <h3 class="card-title"><strong>Create Purchase Order</strong></h3>
                </div>
                <!--Start Form Heading -->

                <!--Start Form Body -->


                <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="myform" class="card-body">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="bder top-mrg20">



                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label pull-left">Company
                                                        Name</label>
                                                    <select formControlName="ddlcompanyname"
                                                        id="ddlcompanyname" class="form-control">
<!--                                                        
                                                        <option  *ngFor="let player of POTmCompanyMasters" ></option>
                                                         -->
                                                        <option *ngFor="let player of POTmCompanyMasters" [value]="player.id">
                                                            {{player.companyName}}
                                                        </option>

                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label pull-left">Supplier
                                                        Name</label>&nbsp;<span id="lblloginIdError"
                                                        class="col-sm-3"></span>
                                                    <select formControlName="ddlsuppliername"
                                                        id="ddlsuppliername" class="form-control">
                                                        <option *ngFor="let player of POTmSupplierMasters" [value]="player.id">
                                                            {{player.supplierName}}
                                                        </option>
                                                      
                                                        <!-- <option  *ngFor="let player of POTmSupplierMasters" ></option>
                                                         -->
                                                        

                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label">Order Date</label>
                                                    <input formControlName="txtorderdate" type="date"
                                                        value="20-Jun-2022" id="txtorderdate"
                                                        class="form-control inputtext" autocomplete="off">

                                                </div>
                                            </div>

                                            <div class="clearfix" style="margin-bottom: 5px;"></div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label pull-left">Payment
                                                        Terms</label>&nbsp;
                                                    <input formControlName="txtpaymentterms" type="text"
                                                        id="txtpaymentterms" class="form-control inputtext"
                                                        autocomplete="off">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label pull-left">Indent
                                                        No</label>
                                                    <input formControlName="txtindentno" type="text"
                                                        id="txtindentno" class="form-control inputtext"
                                                        autocomplete="off">

                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label pull-left">Freight
                                                        Terms</label>
                                                    <input formControlName="txtfreightterms" type="text"
                                                        id="txtfreightterms" class="form-control inputtext"
                                                        autocomplete="off">

                                                </div>

                                            </div>

                                            <div class="clearfix" style="margin-bottom: 5px;"></div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label for="inputEmail3" class="control-label pull-left">Work Order
                                                        No</label>
                                                    <input formControlName="txtorderno" type="text"
                                                        id="txtorderno" class="form-control inputtext"
                                                        autocomplete="off">
                                                </div>

                                                <div class="col-sm-4">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">GST</label>&nbsp;
                                                    <input formControlName="txtgst" type="text"
                                                        id="txtgst" class="form-control inputtext" autocomplete="off">
                                                </div>

                                                <div class="col-sm-4">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">Delivery</label>&nbsp;
                                                    <input formControlName="txtdelivery" type="text"
                                                        id="txtdelivery" class="form-control inputtext"
                                                        autocomplete="off">

                                                </div>

                                            </div>


                                            <div class="clearfix" style="margin-bottom: 5px;">
                                                <span id="RequiredFieldValidator4"
                                                    class="errorlabels" style="font-size:8pt;display:none;">Select
                                                    Company Name</span>

                                                <span id="RequiredFieldValidator5"
                                                    class="errorlabels" style="font-size:8pt;display:none;">Select
                                                    Supplier Name</span>



                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <input id="chkuplaod" type="checkbox"
                                                        formControlName="chkuplaod"
                                                        onclick="javascript:setTimeout('__doPostBack(\'chkuplaod\',\'\')', 0)"><label
                                                        for="chkuplaod">Upload To Excel</label>
                                                </div>
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input id="chklot" type="checkbox"
                                                        formControlName="chklot"><label
                                                        for="chklot">Po Against Lot</label>
                                                </div>
                                            </div>








                                            <div class="row gst" style="display:none">
                                                <div class="col-sm-4">

                                                </div>
                                                <div class="col-sm-4">


                                                    <label for="inputEmail3" class="control-label pull-left">GST
                                                        Types</label>&nbsp;
                                                    <select formControlName="Drop_gst"
                                                        onchange="javascript:setTimeout('__doPostBack(\'Drop_gst\',\'\')', 0)"
                                                        id="Drop_gst" class="form-control">
                                                        <option selected="selected" value="--Select--">--Select--
                                                        </option>
                                                        <option value="Intra-State GST">Intra-State GST</option>
                                                        <option value="Inter-State GST">Inter-State GST</option>

                                                    </select>




                                                </div>
                                                <div class="col-sm-4">

                                                    <label id="gst_lbl"
                                                        class="control-label pull-left">GST (%) :-</label>
                                                    <select formControlName="DropDownList1"
                                                        id="DropDownList1" class="form-control">
                                                        <option selected="selected" value="--Select--">--Select--
                                                        </option>

                                                    </select>
                                                    <div class="hidden">
                                                        <input id="gst_rdo" type="radio"
                                                            formControlName="gst_rdo" value="gst_rdo"
                                                            checked="checked"><label
                                                            for="gst_rdo">18</label>
                                                        <input id="gst_rdo1" type="radio"
                                                            formControlName="gst_rdo"
                                                            value="gst_rdo1"><label
                                                            for="gst_rdo1">28</label>
                                                        <input id="gst_rdo2" type="radio"
                                                            formControlName="gst_rdo"
                                                            value="gst_rdo2"><label
                                                            for="gst_rdo2">0</label>
                                                    </div>
                                                </div>
                                            </div>
















                                            <div id="div_manual" class="row">
                                                <div class="col-sm-4 inline">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">Description</label>
                                                    <button type="button" formControlName="btnsearch"
                                                        value="Search" id="btnsearch" class=" "
                                                        style="float:right">Search</button>
                                                    <input formControlName="txtdescription" type="text"
                                                        id="txtdescription" class="form-control inputtext ">

                                                    

                                                </div>

                                                <div class="col-sm-2 inline">
                                                    <label for="inputEmail3" class="control-label pull-left">Cat
                                                        No</label>

                                                    <input formControlName="txtcat" type="text"
                                                        id="txtcat" class="form-control inputtext ">



                                                </div>


                                                <div class="col-sm-1">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">UOM</label>&nbsp;
                                                    <select formControlName="ddluom"
                                                        id="ddluom" class="form-control">
                                                        <option selected="selected" value="Nos">Nos</option>
                                                        <option value="Pcs">Pcs</option>
                                                        <option value="Lot">Lot</option>
                                                        <option value="KG">KG</option>
                                                        <option value="Roll">Roll</option>
                                                        <option value="Mtr">Mtr</option>
                                                        <option value="Bundle">Bundle</option>
                                                        <option value="length">length</option>
                                                        <option value="Dozen">Dozen</option>
                                                        <option value="Pkt">Pkt</option>
                                                        <option value="Box">Box</option>
                                                        <option value="Set">Set</option>

                                                    </select>
                                                </div>

                                                <div class="col-sm-1">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">Qty</label>&nbsp;
                                                    <input formControlName="txtqty" type="text"
                                                        id="txtqty" class="form-control inputtext">

                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="inputEmail3" class="control-label pull-left">List
                                                        price</label>&nbsp;
                                                    <input formControlName="txtlistprice" type="text"
                                                        id="txtlistprice" class="form-control inputtext">

                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="inputEmail3"
                                                        class="control-label pull-left">Discount</label>&nbsp;
                                                    <input formControlName="txtdiscount" type="text"
                                                        id="txtdiscount" class="form-control inputtext">

                                                </div>
                                                <div class="col-sm-2 " style="float:right">
                                                    <div class="clearfix" style="margin-top: 10px;"></div>
                                                    <button type="button" formControlName="btn_add"
                                                        value="ADD" id="btn_add"
                                                        class="btn btn-primary" (click)="Add_items()">ADD</button>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <span id="RequiredFieldValidator1"
                                                    class="errorlabels" style="display:none;">Enter Description</span>


                                                <span id="RequiredFieldValidator2"
                                                    class="errorlabels" style="display:none;">Enter QTY</span>
                                                <span id="RequiredFieldValidator3"
                                                    class="errorlabels" style="display:none;">Enter Discount</span>
                                                <span id="RequiredFieldValidator6"
                                                    class="errorlabels" style="display:none;">Enter List Price</span>
                                            </div>







                                            <!--------------------------------------------------------customise--------------------------------------->

                                            <br>
                                            <div class="clearfix">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="table-responsive">
                                                        <div class="table_wid">
                                                            <div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix" style="margin-top :15px;">
                                            </div>
                                            <!-----------------------------------------------------end customise--------------------------------------------->
                                            <div class="clearfix" style="margin-top :15px;">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="table-responsive">
                                                        <div class="table_wid">
                                                            <div>
                                                                <table class="table table-striped " border="1"
                                                                    id="GridView1"
                                                                    style="border-style:None;border-collapse:collapse;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="col">Action</th>
                                                                            <th scope="col">SrNo</th>
                                                                            <th scope="col">Description</th>
                                                                            <th scope="col">Cat No</th>
                                                                            <th scope="col">UOM</th>
                                                                            <th scope="col">QTY</th>
                                                                            <th scope="col">List Price</th>
                                                                            <th scope="col">Discount</th>
                                                                            <th scope="col">Unit Price</th>
                                                                            <th scope="col">Net Price</th>
                                                                        </tr>
                                                                        <tr style="background-color:0;" *ngFor="let person of arr2;let a=index" >
                                                                            <td>
                                                                                <button type="button"
                                                                                    formControlName="GridView1$ctl02$btnDelete_Row"
                                                                                    value="Delete"
                                                                                    id="GridView1_btnDelete_Row_0"
                                                                                    class="btn btn-sm btn-danger" (click)="onDel(a)">Delete</button>


                                                                            </td>
                                                                            <td style="width:100px;">
                                                                                <span
                                                                                    id="GridView1_lblRowNumber_0">{{a}}</span>
                                                                            </td>
                                                                            <td>{{person.txtdescription}}</td>
                                                                            <td>{{person.txtcat}}</td>
                                                                            <td>{{person.ddluom}}</td>
                                                                            <td>{{person.txtqty}}</td>
                                                                            <td>{{person.txtlistprice}}</td>
                                                                            <td>{{person.txtdiscount}}</td>
                                                                            <td>{{person.txtdiscount}}</td>
                                                                            <td>{{person.txtdiscount}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <label class="control-label pull-left" for="inputEmail3">
                                                        Purchase Order Remarks</label>
                                                    <textarea formControlName="txtremarks" rows="2"
                                                        cols="20" id="txtremarks"
                                                        class="form-control inputtext"></textarea>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="control-label pull-left" for="inputEmail3">
                                                        Total</label>&nbsp;
                                                    <input formControlName="txttotal" type="text"
                                                        id="txttotal" disabled="disabled"
                                                        class="aspNetDisabled form-control inputtext">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="control-label pull-left" for="inputEmail3">
                                                        Type Of Delivery</label>&nbsp;
                                                    <select formControlName="ddldelivery"
                                                        id="ddldelivery" class="form-control">
                                                        <option selected="selected" value="Select One">Select One
                                                        </option>
                                                        <option value="Lot">Lot</option>
                                                        <option value="Partial">Partial</option>

                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <input id="chkenduser" type="checkbox"
                                                        formControlName="chkenduser" checked="checked"
                                                        onclick="javascript:setTimeout('__doPostBack(\'chkenduser\',\'\')', 0)"><label
                                                        for="chkenduser">End User</label>
                                                </div>
                                            </div>
                                            <div id="divenduser" class="col-sm-4">
                                                <label class="control-label pull-left" for="inputEmail3">
                                                    End User Name</label>&nbsp;
                                                <input formControlName="txtenduser" type="text"
                                                    id="txtenduser" class="form-control inputtext">
                                            </div>
                                            <span id="RequiredFieldValidator7" class="errorlabels"
                                                style="font-size:8pt;display:none;">Select Type Of Delivery</span>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="inputEmail3">
                                                </label>
                                                <div class="col-sm-6">

                                                    <span id="lblError"></span>






                                                </div>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-7 col-sm-offset-5">
                                                        <button type="button" formControlName="btnSave"
                                                            value="Save" id="btnSave"
                                                            class="btn btn-primary mar_top10" *ngIf="ActionFlag==0">Save</button>

                                                            <button type="button" formControlName="btnSave"
                                                            value="Update" id="btnSave"
                                                            class="btn btn-primary mar_top10" *ngIf="ActionFlag==1">Update</button>
                                                        &nbsp;
                                                        <input type="submit"
                                                            formControlName="btnsaveprint"
                                                            value="Save &amp; Print"
                                                            id="btnsaveprint"
                                                            class="btn btn-info mar_top10">
                                                        &nbsp;<input type="submit"
                                                            formControlName="btnClear" value="Reset"
                                                            id="btnClear"
                                                            class="btn btn-primary mar_top10">
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>





                            </div>



                        </div>
                    </div>
                </form>
                <!--End Form Body -->

            </div>



        </div>









      



  
    </div>






</section>