<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Blank Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>




<section class="content  ">
    <!-- Default box -->


    <div class="form2">

        <div class="card card-outline card-primary">
            <div class="card-header "> Add Items ::</div>
            <div class="card-body">
             
        <div id="div_manual" class="row">
            <div class="col-sm-4 inline">
                <label for="inputEmail3"
                    class="control-label pull-left">Description</label>
                <!-- <button type="button" formControlName="btnsearch"
                    value="Search" id="btnsearch" class=" "
                    style="float:right">Search</button> -->
                <input formControlName="txtdescription" type="text"
                    id="txtdescription" class="form-control inputtext ">

                

            </div>

            <div class="col-sm-2 inline">
                <label for="inputEmail3" class="control-label pull-left">Cat
                    No</label>

                <input formControlName="txtcat" type="text"
                    id="txtcat" class="form-control inputtext ">



            </div>


            <div class="col-sm-1">
                <label for="inputEmail3"
                    class="control-label pull-left">UOM</label>&nbsp;
                <select formControlName="ddluom"
                    id="ddluom" class="form-control">
                    <option selected="selected" value="Nos">Nos</option>
                    <option value="Pcs">Pcs</option>
                    <option value="Lot">Lot</option>
                    <option value="KG">KG</option>
                    <option value="Roll">Roll</option>
                    <option value="Mtr">Mtr</option>
                    <option value="Bundle">Bundle</option>
                    <option value="length">length</option>
                    <option value="Dozen">Dozen</option>
                    <option value="Pkt">Pkt</option>
                    <option value="Box">Box</option>
                    <option value="Set">Set</option>

                </select>
            </div>

            <div class="col-sm-1">
                <label for="inputEmail3"
                    class="control-label pull-left">Make</label>&nbsp;
                <select formControlName="ddluom"
                    id="ddluom" class="form-control">
                    <option selected="selected" value=" ">--Select--</option>
                    <option value="Pcs">Schindler</option>
                    <option value="Lot">Rockwell</option>
                    <option value="KG">Other</option>
                    

                </select>
            </div>


            <div class="col-sm-1">
                <label for="inputEmail3"
                    class="control-label pull-left">Qty</label>&nbsp;
                <input formControlName="txtqty" type="number"
                    id="txtqty" class="form-control inputtext">

            </div>
            <div class="col-sm-2">
                <label for="inputEmail3" class="control-label pull-left">List
                    price</label>&nbsp;
                <input formControlName="txtlistprice" type="number"
                    id="txtlistprice" class="form-control inputtext">

            </div>
            <div class="col-sm-1">
                <label for="inputEmail3"
                    class="control-label pull-left">Discount</label>&nbsp;
                <input formControlName="txtdiscount" type="number"
                    id="txtdiscount" class="form-control inputtext">

            </div>
            <div class="col-sm-2 " style="float:right">
                <div class="clearfix" style="margin-top: 10px;"></div>
                <button type="button" 
                    value="ADD" id="btn_add"
                    class="btn btn-primary pull-Right" >ADD</button>
            </div>

        </div>
            
       


            </div>
          </div>
    </div>
    <!-- /.card -->






</section>



<section class="content  ">
    <!-- Default box -->


    <div class="form2">

        <div class="card card-outline card-primary">
            <div class="card-header "> Uplode CSV :: </div>
            <div class="card-body">
             
    
<div class="container m-3">
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">        
         

            <input #fileInput type="file" (change)="upload($event)">


          <!-- <button type="submit" class="btn btn-info" >Submit</button> -->
         
        </div>
    <br>
        <p class="text text-info">**** Only CSV File Uplode ****</p>
      </div>
    </div>
  </div>
            
       


            </div>
          </div>
    </div>
    <!-- /.card -->






</section>




<!-- Main content -->
<section class="content  ">
    <!-- Default box -->


    <div class="form2">

        <div class="card card-outline card-primary">
            <div class="card-header "> Show Items ::</div>
            <div class="card-body">



                <!-- <table id="example" class="display" width="100%"></table> -->

                <table class="table table-striped table-hover " id="example1">

                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>ID</th>
                            <th>Cat No</th>
                            <th>Description</th>
                            <th>Make</th>
                            <th>Total Qty</th>
                            <th>Stock Qty</th>
                            <th>Po Qty</th>
                            <!-- <th>Remaining Qty</th> -->

                            
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of persons;let i=index;">
                            <td>
                                <button class="badge bg-success  btn btn-sm  " > <a class="fa fa-eye " [routerLink]="['/CreatePOItems',i]" ></a></button>
                                <!-- &nbsp; -->
                                <!-- <button class="badge bg-danger  btn btn-sm"  name='{{ person.rid}}' (click)="onDel(person.rid)"><a class="fa fa-trash"></a></button> -->
                          </td> 
                            <td> {{i+1}}</td>
                            <td>{{ person.t1 }}</td>
                            <td>{{ person.t2 }}</td>
                            <td>{{ person.t3 }}</td>
                            <td>{{ person.t4 }}</td>
                            <td>{{ person.t5 }}</td>
                            <td>{{ person.t6 }}</td>
                            <!-- <td>{{ person.t7 }}</td> -->
                           
                           
                             
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

    </div>
    <!-- /.card -->






</section>
<!-- /.content -->