<p>create-user-rights works!</p>
<section class="content  ">
    <!-- Default box -->

    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body   ">

            <div class="row">
                <div class="col-md-12">
                    <div class="bder top-mrg20">
                        <form [formGroup]="loginFormRights" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-sm-4">


                                    <div class="col-sm-12">

                                        <div class="card card-outline card-primary">
                                            <div class="card-header "> Group Details ::</div>
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <div class="log_form_head1" style="margin-top:7px;">
                                                            Select Modules
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="log_form1">
                                                    <div class="form-horizontal">

                                                        <label>Group

                                                        </label>
                                                        <span id="ContentPlaceHolder3_RequiredFieldValidator1"
                                                            style="color:#FF3300;font-weight:700;visibility:hidden;">Select
                                                            Group</span>
                                                        <select formControlName="ddlGroup_Id" class="form-select"
                                                            id="ContentPlaceHolder3_ddlGroup_Id" class="form-control"
                                                            (ngModelChange)="onchange($event)">
                                                            <option *ngFor="let type of GroupMaster "
                                                                [value]="type.groupId">{{
                                                                type.groupName}}</option>
                                                        </select>




                                                        <div class="form-group">

                                                            <div class="col-sm-12 ">
                                                                <label>Select Users

                                                                </label>

                                                                &nbsp;<select size="4" class="form-select"
                                                                    formControlName="lstUsers"
                                                                    id="ContentPlaceHolder3_lstUsers"
                                                                    class="aspNetDisabled form-control"
                                                                    style="font-size:12pt;font-weight:bold;height:290px;">
                                                                    <option *ngFor="let UserMasterc of UserMaster2 "
                                                                        [value]="UserMasterc.userCode"> {{
                                                                        UserMasterc.userId}}</option>
                                                                </select>

                                                            </div>
                                                        </div>





                                                        <div class="form-group">

                                                            <div class="col-sm-12 ">
                                                                <label>Select Module&nbsp;&nbsp;
                                                                    <span
                                                                        id="ContentPlaceHolder3_RequiredFieldValidator2"
                                                                        style="color:#FF3300;visibility:hidden;">Select
                                                                        Module</span>

                                                                </label>

                                                               <select size="4" class="form-select"
                                                                    formControlName="lstModules"
                                                                    id="ContentPlaceHolder3_lstModules"
                                                                    class="aspNetDisabled form-control"
                                                                    (ngModelChange)="onchangeModule($event)"
                                                                    style="font-size:12pt;font-weight:bold;height:290px;">
                                                                    <option
                                                                        *ngFor="let CMAdminModuleMasterUserc of CMAdminModuleMasterUser "
                                                                        
                                                                        [value]="CMAdminModuleMasterUserc.rid">{{
                                                                        CMAdminModuleMasterUserc.moduleName}}</option>
                                                                </select>



                                                            </div>
                                                        </div>






                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8">

                                    <div class="card card-outline card-primary">
                                        <div class="card-header "> Group Details ::</div>
                                        <div class="card-body" style="overflow-x:auto;">



                                            <!-- <table id="example" class="display" width="100%"></table> -->
                                        
                                            <div *ngIf="submodule2; else elseBlock">
                                            <table id="example1" class="table table-striped table-hover  table-responsive" >

                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Sub Module Name</th>
                                                        <th>Select All
                                                            <input type="checkbox"  id="Create,0" (change)="checkAllCheckBox($event)" >
                                                        </th>
                                                        <th>Create</th>
                                                        <th>Update</th>
                                                        <th>Delete</th>
                                                        <th>Show</th>
                                                        <th>Import Excel</th>
                                                        <th>Export Excel</th>
                                                        <th>Save</th>
                                                        

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--  ng-model="entity.isChecked" ng-change="selectEntity()" [(ngModel)]="submodule2[i].checked" [checked]="isAllCheckBoxChecked()"-->
                                                    <tr *ngFor="let person of submodule2; let i=index;">
                                                        <td> {{i}}</td>
                                                        <td>{{person.subModuleName}}
                                                            
                                                        </td>
                                                        <!-- <td><input type="button" class="btn btn-info btn-sm" value="All"   /></td>
                                                         -->
                                                        
                                                        <td><input type="checkbox" value="Create,{{person.rid}}" id="Create,{{person.rid}}" (change)="checkAllCheckBox($event)" ></td>
                                                        <td> <input type="checkbox" value="Update,{{person.rid}}" id="Update,{{person.rid}}" (change)="checkAllCheckBox($event)" ></td>
                                                        <td><input type="checkbox" value="Delete,{{person.rid}}" id="Delete,{{person.rid}}" (change)="checkAllCheckBox($event)" ></td>
                                                        <td> <input type="checkbox" value="Show,{{person.rid}}" id="Show,{{person.rid}}" (change)="checkAllCheckBox($event)" ></td>
                                                        <td><input type="checkbox" value="ImportExcel,{{person.rid}}" id="ImportExcel,{{person.rid}}" (change)="checkAllCheckBox($event)" ></td>
                                                        <td><input type="checkbox" value="ExportExcel,{{person.rid}}" id="ExportExcel,{{person.rid}}" (change)="checkAllCheckBox($event)" ></td>
                                                        <td><input type="checkbox" value="Save,{{person.rid}}" id="Save,{{person.rid}}" (change)="checkAllCheckBox($event)" ></td>
                                                        

                                                    </tr>
                                                
                                                
                                               
                                                </tbody>
                                            </table>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        <input type="button" class="btn btn-info" value="Submit" (click)="submitData()"/>
    
                                        
                                        </div>
                                        <ng-template #elseBlock>


                                            
                                        </ng-template>
                                        
                                    </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>








    <!-- /.card -->
</section>