<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Blank Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content  ">
    <!-- Default box -->

    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body   ">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-horizontal">


                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="control-label pull-left">User Name</label>
                                <input name="ctl00$ContentPlaceHolder3$txtUserName" type="text" id="txtUserName"
                                    class="form-control inputtext">
                            </div>
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="control-label pull-left">User ID</label>&nbsp;<span
                                    id="ContentPlaceHolder3_lblloginIdError" class="col-sm-3"></span>
                                <input name="ctl00$ContentPlaceHolder3$txtUserID" type="text"
                                    onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder3$txtUserID\',\'\')', 0)"
                                    onkeypress="if (WebForm_TextBoxKeyHandler(event) == false) return false;"
                                    id="txtUserID" class="form-control inputtext">
                            </div>
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="control-label">Password</label>
                                <input name="ctl00$ContentPlaceHolder3$txtUPassword" type="text" id="txtUPassword"
                                    class="form-control inputtext" value="">
                            </div>
                        </div>

                        <div class="clearfix" style="margin-bottom: 5px;"></div>
                        <div class="row">

                            <div class="col-sm-4">
                                <label for="inputEmail3" class="control-label pull-left">Email ID</label>
                                <input name="ctl00$ContentPlaceHolder3$txtEmailID" type="text" id="txtEmailID"
                                    class="form-control inputtext">
                            </div>
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="control-label pull-left">Mobile NO</label>
                                <input name="ctl00$ContentPlaceHolder3$txtMobileNo" type="text" maxlength="10"
                                    id="txtMobileNo" class="form-control inputtext">

                            </div>
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="control-label pull-left">Group</label>
                                <select name="ctl00$ContentPlaceHolder3$ddlGroup_Id"
                                    id="ContentPlaceHolder3_ddlGroup_Id" class="form-control inputtext">
                                    <option value="1">Admin</option>
                                    <option value="2">SubAdmin</option>
                                    <option value="3">Employee</option>
                                    <option value="4">Site Engineer</option>
                                    <option value="5">Purchase</option>
                                    <option value="6">Manager</option>
                                    <option value="0">No</option>

                                </select>
                            </div>
                        </div>

                        <div class="clearfix" style="margin-bottom: 5px;"></div>
                        <div class="row">

                            <div class="col-sm-4">
                                <label for="inputEmail3" class="control-label pull-left">Account Status</label>
                                <select name="ctl00$ContentPlaceHolder3$ddlAccountStatus"
                                    id="ContentPlaceHolder3_ddlAccountStatus" class="form-control inputtext">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>

                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="control-label pull-left">Report To</label>
                                <select name="ctl00$ContentPlaceHolder3$ddlreportingManager"
                                    id="ContentPlaceHolder3_ddlreportingManager" class="form-control inputtext">
                                    <option value="6">Ajay Jha</option>
                                    <option value="1">Administrator</option>
                                    <option value="14">Dalip Kumar</option>
                                    <option value="3">Dilip Sharma</option>
                                    <option value="13">Harish Singh</option>
                                    <option value="5">Faheem Ahamed</option>
                                    <option value="10">Gaurav Chamoli</option>
                                    <option value="11">Gaurav Guglani</option>
                                    <option value="12">Deepak Baghel</option>
                                    <option value="8">Manish Chauhan</option>
                                    <option value="4">VIRENDER</option>
                                    <option value="7">Sadiq</option>
                                    <option value="9">Sunil Singh</option>
                                    <option value="15">Vikas Tomar</option>
                                    <option value="16">Vinay Shukla</option>
                                    <option value="17">parveen</option>
                                    <option value="18">testing_user</option>
                                    <option value="19">munita gupta</option>
                                    <option value="20">Puneet Audichya</option>
                                    <option value="21">Puneet Sharma</option>
                                    <option value="22">Shiv Kumar Yadav</option>
                                    <option value="23">Prashant Gupta</option>
                                    <option value="24">Simple Singh</option>
                                    <option value="25">Vishal Arya</option>
                                    <option value="26">Arvind</option>
                                    <option value="27">Ashish Pathak</option>
                                    <option value="28">Aniket Nawal</option>
                                    <option value="29">sandeep kumar</option>
                                    <option value="30">Nikhil Chhabra</option>
                                    <option value="31">Anmol Deep</option>
                                    <option value="32">Parmish Kumar</option>
                                    <option value="33">Amit Kumar</option>
                                    <option value="34">Nauman</option>
                                    <option value="35">stephen</option>
                                    <option value="0">No</option>

                                </select>
                            </div>
                            <div class="col-sm-4">

                                <label for="txtPhotoIdentification">
                                    Photo<span id="ContentPlaceHolder3_Label34" style="color:Red;font-weight:bold;">
                                        *</span></label>



                                <input type="file" name="ctl00$ContentPlaceHolder3$fuOperatorImage"
                                    id="ContentPlaceHolder3_fuOperatorImage">
                                <input type="submit" name="ctl00$ContentPlaceHolder3$btnUpload" value="Upload"
                                    id="ContentPlaceHolder3_btnUpload">

                                &nbsp;<input type="submit" name="ctl00$ContentPlaceHolder3$btnDeleteUpload"
                                    value="Remove" id="ContentPlaceHolder3_btnDeleteUpload" disabled="disabled"
                                    class="aspNetDisabled">
                                <img id="ContentPlaceHolder3_Image1" src="images/logo_login2.png"
                                    style="border-style:None;height:61px;width:71px;">
                                <span id="ContentPlaceHolder3_lblErrorImageError"></span>

                            </div>
                            <div style="display: none">
                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">Email Rights</label>
                                    <select name="ctl00$ContentPlaceHolder3$ddl_EmailRights"
                                        id="ContentPlaceHolder3_ddl_EmailRights" class="form-control inputtext">
                                        <option value="Active">Active</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>

                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <label for="inputEmail3" class="control-label pull-left">SMS Rights</label>
                                    <select name="ctl00$ContentPlaceHolder3$ddl_SMSRights"
                                        id="ContentPlaceHolder3_ddl_SMSRights" class="form-control inputtext">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>

                                    </select>
                                </div>
                            </div>
                        </div>



                        <div class="clearfix" style="margin-bottom: 5px;">
                            <span id="ContentPlaceHolder3_RequiredFieldValidator1" class="errorlabels"
                                style="display:none;">User Name Required</span>
                            &nbsp;
                            <span id="ContentPlaceHolder3_RequiredFieldValidator2" class="errorlabels"
                                style="display:none;">User ID Required</span>
                            &nbsp;
                            <span id="ContentPlaceHolder3_RequiredFieldValidator3" class="errorlabels"
                                style="display:none;">Password Required</span>
                            &nbsp;
                            <span id="ContentPlaceHolder3_RequiredFieldValidator4" class="errorlabels"
                                style="display:none;">Select User Group</span>
                            &nbsp;
                            <span id="ContentPlaceHolder3_RequiredFieldValidator5" class="errorlabels"
                                style="display:none;">Select Reporting Manager</span>
                            &nbsp;


                        </div>


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"></label>
                            <div class="col-sm-6">

                                <span id="lblError"></span>






                            </div>
                        </div>




                        <div class="clearfix"></div>

                        <div class="form-group">
                            <div class="col-sm-12">

                                <div class="col-sm-7 col-sm-offset-5">
                                    <input type="submit" name="ctl00$ContentPlaceHolder3$btnSave" value="Save"
                                        id="ContentPlaceHolder3_btnSave" class="btn btn-primary mar_top10">

                                    &nbsp;<input type="submit" name="ctl00$ContentPlaceHolder3$btnClear" value="Reset"
                                        id="ContentPlaceHolder3_btnClear" class="btn btn-primary mar_top10">

                                </div>

                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    


    <div class="form2 " >

        <div class="card card-outline card-primary">
            <div class="card-header "> Group Details ::</div>
            <div class="card-body" style="overflow-x:auto;">

                

                <!-- <table id="example" class="display" width="100%"></table> -->

                <table class="table table-striped table-hover  table-responsive" id="example"  >
                   
                    <thead>
                        <tr>
                          <th>SrNo</th>
                          <th>Name</th>
                          <th>UserID</th>
                          <th>Password</th>
                          <th>EmailID</th>
                          <th>MobileNo</th>
                          <th>Manager</th>
                          <th>AccountStatus</th>
                          <th>RecordStatus</th>

                          								
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of persons">
                            
                          <td>  {{person.index}}</td>
                          <td>{{ person.userName }}</td>
                          <td>  {{person.userId}}</td>
                          <td>{{ person.upassword }}</td>
                          <td>  {{person.emailId}}</td>
                          <td>{{ person.mobileNo }}</td>
                          <td>  {{person.accountStatus}}</td>
                          <td>{{ person.reportingManager }}</td>
                          <td>  {{person.recordstatus}}</td>
                         
                         
                        </tr>
                      </tbody>
                  </table>
                  
                  
            </div>
        </div>

    </div>


    <!-- /.card -->
</section>
<!-- /.content -->