<section class="col-lg-12">


    <div id="UpdateProgress1" style="display:none;" role="status" aria-hidden="true">

        <div class="divWaiting" style="z-index: 15000;">
            <img id="imgWait" src="images/loading3.gif" align="middle" style="height:150px;width:210px;">
        </div>

    </div>










    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">


            <!--Start Form Heading -->
            <div class="card-header with-border">
                <h3 class="card-title"><strong>City Master </strong></h3>
            </div>
            <!--Start Form Heading -->

            <!--Start Form Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bder top-mrg20">

                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="log_form1">



                                        <div class="form-horizontal">

                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-4 control-label">Select Country
                                                    Name</label>
                                                <div class="col-sm-8">
                                                    <select name="ddlcountry" id="ContentPlaceHolder3_ddlcountry"
                                                        class="form-control">
                                                        <option selected="selected" value="0">---Select Country---
                                                        </option>
                                                        <option value="12">Australia</option>
                                                        <option value="22">Belgium</option>
                                                        <option value="26">Bhutan</option>
                                                        <option value="39">Canada</option>
                                                        <option value="44">China</option>
                                                        <option value="57">Denmark</option>
                                                        <option value="62">Egypt</option>
                                                        <option value="71">France</option>
                                                        <option value="77">Germany</option>
                                                        <option value="88">Hong Kong</option>
                                                        <option value="95">India</option>
                                                        <option value="99">Ireland</option>
                                                        <option value="101">Italy</option>
                                                        <option value="103">Japan</option>
                                                        <option value="123">Malaysia</option>
                                                        <option value="144">New Zealand</option>
                                                        <option value="147">Nepal</option>
                                                        <option value="158">Pakistan</option>
                                                        <option value="166">Portugal</option>
                                                        <option value="172">Russia</option>
                                                        <option value="176">South Africa</option>
                                                        <option value="178">South Korea</option>
                                                        <option value="179">Sri Lanka</option>
                                                        <option value="190">Spain</option>
                                                        <option value="198">Sweden</option>
                                                        <option value="199">Switzerland</option>
                                                        <option value="213">U.K</option>
                                                        <option value="218">U.S.A</option>
                                                        <option value="222">Vatican City</option>
                                                        <option value="254">Afganistan</option>
                                                        <option value="255">test</option>
                                                        <option value="0">--Select All--</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix" style="margin-bottom: 5px;"></div>

                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-4 control-label">Select State
                                                    Name</label>
                                                <div class="col-sm-8">
                                                    <select name="ddlstate"
                                                        onchange="javascript:setTimeout('__doPostBack(\'ddlstate\',\'\')', 0)"
                                                        id="ContentPlaceHolder3_ddlstate" class="form-control">
                                                        <option selected="selected" value="0">---Select State---
                                                        </option>
                                                        <option value="13">Alabama</option>
                                                        <option value="14">Alaska</option>
                                                        <option value="90">And.&amp; Nicobar</option>
                                                        <option value="65">Andra Pradesh</option>
                                                        <option value="15">Arizona</option>
                                                        <option value="16">Arkansas</option>
                                                        <option value="66">Aru. Pradesh.</option>
                                                        <option value="67">Assam</option>
                                                        <option value="68">Bihar</option>
                                                        <option value="17">California</option>
                                                        <option value="91">Chandigarh</option>
                                                        <option value="121">Chennai</option>
                                                        <option value="105">Chhattisgarh</option>
                                                        <option value="18">Colorado</option>
                                                        <option value="92">Dadra &amp; Nagra</option>
                                                        <option value="93">Daman &amp; Diu</option>
                                                        <option value="112">Dddddd</option>
                                                        <option value="94">Delhi</option>
                                                        <option value="114">Eeeeeeee</option>
                                                        <option value="116">Eer</option>
                                                        <option value="117">Efef</option>
                                                        <option value="22">Florida</option>
                                                        <option value="23">Georgia</option>
                                                        <option value="69">Goa</option>
                                                        <option value="70">Gujarat</option>
                                                        <option value="72">H. P.</option>
                                                        <option value="71">Haryana</option>
                                                        <option value="24">Hawaii</option>
                                                        <option value="25">Idaho</option>
                                                        <option value="27">Indiana</option>
                                                        <option value="28">Iowa</option>
                                                        <option value="73">J &amp; K</option>
                                                        <option value="115">Jhark</option>
                                                        <option value="103">Jharkhand</option>
                                                        <option value="118">Jhelumistan</option>
                                                        <option value="110">Jkh</option>
                                                        <option value="29">Kansas</option>
                                                        <option value="74">Karnataka</option>
                                                        <option value="75">Kerala</option>
                                                        <option value="95">Lakshadweep</option>
                                                        <option value="76">M P</option>
                                                        <option value="77">Maharashtra</option>
                                                        <option value="32">Maine</option>
                                                        <option value="78">Manipur</option>
                                                        <option value="3">Manitoba</option>
                                                        <option value="33">Maryland</option>
                                                        <option value="34">Massachusetts</option>
                                                        <option value="79">Meghlaya</option>
                                                        <option value="35">Michigan</option>
                                                        <option value="36">Minnesota</option>
                                                        <option value="37">Mississippi</option>
                                                        <option value="38">Missouri</option>
                                                        <option value="80">Mizoram</option>
                                                        <option value="39">Montana</option>
                                                        <option value="81">Nagaland</option>
                                                        <option value="40">Nebraska</option>
                                                        <option value="41">Nevada</option>
                                                        <option value="5">New Found Land</option>
                                                        <option value="42">New Hampshire</option>
                                                        <option value="43">New Jersey</option>
                                                        <option value="44">New Mexico</option>
                                                        <option value="45">New York</option>
                                                        <option value="47">North Dakota</option>
                                                        <option value="6">Northwest Terr</option>
                                                        <option value="7">Nova Scotia</option>
                                                        <option value="82">Orissa</option>
                                                        <option value="51">Pennsylvania</option>
                                                        <option value="96">Pondicherry</option>
                                                        <option value="53">Puerto Rico</option>
                                                        <option value="83">Punjab</option>
                                                        <option value="113">Qqqq</option>
                                                        <option value="84">Rajasthan</option>
                                                        <option value="52">Rhode Island</option>
                                                        <option value="11">Saskatchewan</option>
                                                        <option value="85">Sikkim</option>
                                                        <option value="55">South Dakota</option>
                                                        <option value="111">Sssssss</option>
                                                        <option value="86">Tamilnadu</option>
                                                        <option value="57">Texas</option>
                                                        <option value="87">Tripura</option>
                                                        <option value="88">U P</option>
                                                        <option value="58">U S A</option>
                                                        <option value="122">Uk</option>
                                                        <option value="108">Usa</option>
                                                        <option value="120">Uttrakhand</option>
                                                        <option value="60">Virginia</option>
                                                        <option value="61">Washington</option>
                                                        <option value="89">West Bengal</option>
                                                        <option value="62">West Virginia</option>
                                                        <option value="119">Xyz</option>
                                                        <option value="0">--Select All--</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix" style="margin-bottom: 5px;"></div>

                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-4 control-label">Enter City
                                                    Name</label>
                                                <div class="col-sm-8">
                                                    <input name="txtcityName" type="text"
                                                        id="ContentPlaceHolder3_txtcityName" class="form-control">

                                                </div>
                                            </div>
                                            <div class="clearfix" style="margin-bottom: 5px;"></div>




                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">

                                                    <span id="ContentPlaceHolder3_RequiredFieldValidator3"
                                                        class="errorlabels" style="font-size:8pt;display:none;">Select
                                                        Country</span>

                                                    <span id="ContentPlaceHolder3_RequiredFieldValidator4"
                                                        class="errorlabels" style="font-size:8pt;display:none;">Select
                                                        State</span>


                                                    <span id="ContentPlaceHolder3_RequiredFieldValidator1"
                                                        class="errorlabels" style="font-size:8pt;display:none;">Enter
                                                        State Name</span>





                                                    <span id="ContentPlaceHolder3_lblError"></span>





                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input [type]="'submit'" name="btnSave" value="Save" 
                                    id="ContentPlaceHolder3_btnSave" class="btn btn-primary mar_top10" *ngIf="ActionFlag==0">&nbsp;
                                
                               
                                    <input [type]="'submit'" name="btnSave" value="Update" *ngIf="ActionFlag==1"
                                    id="ContentPlaceHolder3_btnSave" class="btn btn-primary mar_top10">&nbsp;
                                
                                
                                <input type="button" name="btnClear" value="Reset"
                                    id="ContentPlaceHolder3_btnClear" class="btn btn-primary mar_top10" (click)="onReset()">




                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>
                                   

                                </div>

                            </div>




                        </div>
                    </div>
                </div>
                <!--End Form Body -->

            </div>
        </div>
    </div>















    <input type="submit" name="btnSavingModelpopUp" value="Button" id="ContentPlaceHolder3_btnSavingModelpopUp"
        style="display: none;">

    <div id="ContentPlaceHolder3_pnlSavePopUp" style="width: 350px; display: none; position: fixed; z-index: 10001;">




        <table style="width: 100%; background-color: White; border: 1px solid gray;">
            <tbody>
                <tr>
                    <td align="center" bgcolor="Silver">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" bgcolor="Silver">
                        <strong>Confirmation Dialog</strong>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="Silver">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">
                        <span id="ContentPlaceHolder3_lblSavingDialogcard"></span>


                    </td>
                </tr>

                <tr>
                    <td align="center">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <span id="ContentPlaceHolder3_lblConfrmMsg"></span>


                        &nbsp;
                    </td>

                </tr>

                <tr>
                    <td align="center">
                        <span id="ContentPlaceHolder3_lblpendingaproval"></span>

                        &nbsp;
                    </td>
                </tr>

                <tr>
                    <td align="center">


                        <input type="submit" name="btnsaveOk" value="Yes" id="ContentPlaceHolder3_btnsaveOk"
                            class="btn btn-primary" style="width:80px;">
                        &nbsp;&nbsp;&nbsp;
                        <input type="submit" name="BtnSaveCancel" value="No" id="ContentPlaceHolder3_BtnSaveCancel"
                            class="btn btn-primary" style="width:80px;">
                    </td>
                </tr>
                <tr>
                    <td align="center">&nbsp;</td>
                </tr>
            </tbody>
        </table>

    </div>












    <input type="submit" name="modalPopupButton" value="Button" id="ContentPlaceHolder3_modalPopupButton"
        style="display: none;">

    <div id="ContentPlaceHolder3_DeletePopup" style="width: 350px; display: none; position: fixed; z-index: 10001;">

        <table style="width: 100%; background-color: White; border: 1px solid gray;">
            <tbody>
                <tr>
                    <td align="center" bgcolor="Silver">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" bgcolor="Silver">
                        <strong>Confirmation Dialog</strong>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="Silver">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">
                        <span id="ContentPlaceHolder3_lblDialogMsg"></span>
                    </td>
                </tr>
                <tr>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="submit" name="btnDeleteOk" value="OK" id="ContentPlaceHolder3_btnDeleteOk"
                            class="btn btn-primary" style="width:80px;">
                        &nbsp;&nbsp;&nbsp;
                        <input type="submit" name="btnCancel" value="Cancel" id="ContentPlaceHolder3_btnCancel"
                            class="btn btn-primary" style="width:80px;">
                    </td>
                </tr>
                <tr>
                    <td align="center">&nbsp;</td>
                </tr>
            </tbody>
        </table>

    </div>



    <div class="form2">

        <div class="card card-outline card-primary">
            <div class="card-header "> Group Details ::</div>
            <div class="card-body">



                <!-- <table id="example" class="display" width="100%"></table> -->

                <table id="example" class="row-border hover" class="table table-striped table-hover  ">

                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">SrNo</th>
                            <th scope="col">Country Name</th>
                            <th scope="col">State Name</th>
                            <th scope="col">City Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of persons;let a=index">
                            <td><button class="badge bg-success  btn btn-sm  " name='{{ person.rid}}' > <a class="fa fa-edit" (click)="onedit(person.rid)"></a></button>
                                &nbsp;
                                <button class="badge bg-danger  btn btn-sm"  name='{{ person.rid}}' (click)="onDel(person.rid)"><a class="fa fa-trash"></a></button>
                            </td>
     
                           
                          <td>  {{a+1}}</td>
                          <td>  {{person.left.left.countryname}}</td>
                          <td>{{ person.left.right.statename }}</td>
                          <td>  {{person.right.cityname}}</td>
                          

                         
                         
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

    </div>


    <div data-act-control-type="modalPopupBackground" id="ContentPlaceHolder3_ModalPopupExtender2_backgroundElement"
        class="modalBackground" style="display: none; position: fixed; left: 0px; top: 0px; z-index: 10000;"></div>
    <div data-act-control-type="modalPopupBackground" id="ContentPlaceHolder3_ModalPopupExtender1_backgroundElement"
        class="modalBackground" style="display: none; position: fixed; left: 0px; top: 0px; z-index: 10000;"></div>
</section>